.header {
  width: 100%;
  min-height: 180px;
  border-bottom: 1px solid #e0e0e0;
  background: url("../img/header.jpg") left top repeat-x, #f3fafa;
  float: left; }
  @media (max-width: 1009px) {
    .header {
      min-height: 0px;
      background: -moz-linear-gradient(left, rgba(224, 245, 245, 0.2) 0%, rgba(224, 245, 245, 0.7) 50%, rgba(232, 249, 248, 0.2) 100%);
      background: -webkit-linear-gradient(left, rgba(224, 245, 245, 0.2) 0%, rgba(224, 245, 245, 0.7) 50%, rgba(232, 249, 248, 0.2) 100%);
      background: linear-gradient(to right, rgba(224, 245, 245, 0.2) 0%, rgba(224, 245, 245, 0.7) 50%, rgba(232, 249, 248, 0.2) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e0f5f5', endColorstr='#e8f9f8', GradientType=1);
      padding-bottom: 10px; } }
  .header .miniature_block {
    top: 20px; }
  @media (max-width: 636px) {
    .header {
      background-image: none;
      min-height: 0px; } }
  @media (max-width: 568px) {
    .header {
      width: 96%;
      margin-left: 2%;
      border: 1px solid #bcbcbc;
      background: #f3f8f9; } }
  .header .header_nav {
    display: inline-block;
    width: 36.06%; }
    @media (max-width: 1110px) {
      .header .header_nav {
        float: left;
        width: 40%; } }
    @media (max-width: 1009px) {
      .header .header_nav {
        width: 30%; } }
    @media (max-width: 916px) {
      .header .header_nav {
        width: 20%; } }
    @media (max-width: 770px) {
      .header .header_nav {
        width: 50%; } }
    @media (max-width: 357px) {
      .header .header_nav {
        width: 100%;
        text-align: center; } }
    .header .header_nav nav {
      float: right; }
      @media (max-width: 1009px) {
        .header .header_nav nav {
          display: none; } }
      .header .header_nav nav ul {
        float: left;
        font: 12px/35px Verdana;
        color: #023d98; }
        .header .header_nav nav ul li {
          display: inline-block;
          padding: 0px 9.5px; }
          .header .header_nav nav ul li:nth-last-child(1) {
            padding-right: 0px;
            margin-left: 45.5px; }
          .header .header_nav nav ul li a {
            color: #023d98;
            text-decoration: underline;
            font-weight: bold; }
            .header .header_nav nav ul li a:hover {
              color: #620909; }
    .header .header_nav_sandwich {
      display: inline-block;
      width: 26px;
      height: 26px;
      border: 1px solid #023d98;
      margin-top: 4px;
      box-sizing: border-box; }
      .header .header_nav_sandwich:hover span {
        background: #4e070c; }
      @media (max-width: 1009px) {
        .header .header_nav_sandwich {
          display: none; } }
      .header .header_nav_sandwich span {
        display: block;
        width: 18px;
        height: 1px;
        margin-bottom: 6px;
        margin-left: auto;
        margin-right: auto;
        background: #023d98; }
        .header .header_nav_sandwich span:nth-child(1) {
          margin-top: 4px; }
        .header .header_nav_sandwich span:nth-last-child(1) {
          display: none; }
    .header .header_nav_logo_line {
      width: 100%;
      min-height: 81px;
      background: -moz-linear-gradient(left, rgba(224, 245, 245, 0.2) 0%, rgba(224, 245, 245, 0.7) 50%, rgba(232, 249, 248, 0.2) 100%);
      background: -webkit-linear-gradient(left, rgba(224, 245, 245, 0.2) 0%, rgba(224, 245, 245, 0.7) 50%, rgba(232, 249, 248, 0.2) 100%);
      background: linear-gradient(to right, rgba(224, 245, 245, 0.2) 0%, rgba(224, 245, 245, 0.7) 50%, rgba(232, 249, 248, 0.2) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e0f5f5', endColorstr='#e8f9f8', GradientType=1);
      float: left; }
      @media (max-width: 568px) {
        .header .header_nav_logo_line {
          background: none; } }
      @media (max-width: 357px) {
        .header .header_nav_logo_line {
          width: 100%;
          text-align: center; } }
      .header .header_nav_logo_line_logo {
        float: left; }
        @media (max-width: 568px) {
          .header .header_nav_logo_line_logo {
            margin-top: 5px; } }
        @media (max-width: 357px) {
          .header .header_nav_logo_line_logo {
            float: none;
            display: inline-block; } }
        .header .header_nav_logo_line_logo span {
          display: none; }
        .header .header_nav_logo_line_logo .logo_mini {
          display: none;
          float: left;
          width: 100%; }
          .header .header_nav_logo_line_logo .logo_mini img {
            max-width: 100%; }
          @media (max-width: 1009px) {
            .header .header_nav_logo_line_logo .logo_mini {
              display: block; } }
        .header .header_nav_logo_line_logo .logo_big {
          display: block;
          position: relative;
          font: 28px/40px 'Georgia-Bold';
          padding-left: 15px;
          margin-top: 15px;
          letter-spacing: 0.7px; }
          @media (max-width: 1009px) {
            .header .header_nav_logo_line_logo .logo_big {
              display: none; } }
          .header .header_nav_logo_line_logo .logo_big:before {
            content: '';
            display: block;
            position: absolute;
            left: 0px;
            top: -10px;
            width: 16px;
            height: 20px;
            background-image: url("../img/sprite_header.png");
            background-position: 0px -155px; }
        .header .header_nav_logo_line_logo i {
          color: #ff0000;
          font-weight: bold; }
        .header .header_nav_logo_line_logo p {
          display: block;
          font: 16px/10px Verdana;
          font-weight: bold;
          padding-left: 15px; }
          @media (max-width: 1009px) {
            .header .header_nav_logo_line_logo p {
              display: none; } }
          .header .header_nav_logo_line_logo p b {
            font-size: 11px;
            font-weight: bold;
            display: inline-block;
            margin-top: 2px; }
      .header .header_nav_logo_line_sity {
        float: right;
        font: 11px/40px Verdana;
        color: #363636;
        margin-top: 5px; }
        @media (max-width: 1009px) {
          .header .header_nav_logo_line_sity {
            display: none; } }
      .header .header_nav_logo_line_schem {
        display: block;
        font: 14px/30px 'Georgia-BoldItalic';
        font-weight: bold;
        font-style: italic;
        color: #5d7489;
        float: right;
        padding: 0px 5px; }
        @media (max-width: 1009px) {
          .header .header_nav_logo_line_schem {
            display: none; } }
        .header .header_nav_logo_line_schem:hover {
          outline: 1px solid #b80000;
          color: #000000; }
        .header .header_nav_logo_line_schem span {
          text-decoration: underline; }
    .header .header_nav_katalog_line {
      width: 100%;
      background: -moz-linear-gradient(left, rgba(224, 245, 245, 0.2) 0%, rgba(224, 245, 245, 0.7) 50%, rgba(232, 249, 248, 0.2) 100%);
      background: -webkit-linear-gradient(left, rgba(224, 245, 245, 0.2) 0%, rgba(224, 245, 245, 0.7) 50%, rgba(232, 249, 248, 0.2) 100%);
      background: linear-gradient(to right, rgba(224, 245, 245, 0.2) 0%, rgba(224, 245, 245, 0.7) 50%, rgba(232, 249, 248, 0.2) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e0f5f5', endColorstr='#e8f9f8', GradientType=1);
      padding-bottom: 3px;
      float: left; }
      @media (max-width: 1009px) {
        .header .header_nav_katalog_line {
          display: none; } }
    .header .header_nav_katalog {
      width: 100%;
      min-height: 60px;
      border: 1px solid #ff9900;
      box-sizing: border-box;
      background: #FFFFFF;
      padding-left: 3.31%;
      margin-top: 5px; }
      @media (max-width: 880px) {
        .header .header_nav_katalog {
          border: none;
          text-align: center; } }
      .header .header_nav_katalog_all {
        width: 100%;
        font: 11px/30px Verdana;
        text-decoration: underline;
        color: #023d98; }
        .header .header_nav_katalog_all:hover {
          color: #620909; }
        @media (max-width: 880px) {
          .header .header_nav_katalog_all {
            display: none; } }
      .header .header_nav_katalog .all_mini {
        display: none;
        float: left;
        width: 30%;
        min-width: 85px;
        height: 21px;
        border-radius: 2px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border: 1px solid #a6b6c4;
        background: #daeded;
        font: 11px/21px Verdana;
        font-weight: bold;
        color: #014366;
        padding-left: 8px;
        box-sizing: border-box;
        margin-right: 2.36%;
        position: relative; }
        .header .header_nav_katalog .all_mini:before {
          content: '';
          display: block;
          float: right;
          margin-right: 2.13%;
          margin-top: 7px;
          width: 8px;
          height: 6px;
          background-image: url("../img/sprite_header.png");
          background-position: 0px -155px; }
        @media (max-width: 880px) {
          .header .header_nav_katalog .all_mini {
            display: inline-block;
            float: none; } }
      .header .header_nav_katalog_categories {
        width: 100%;
        min-height: 21px; }
        .header .header_nav_katalog_categories .button {
          display: block;
          float: left;
          width: 30%;
          height: 21px;
          border-radius: 2px;
          -moz-border-radius: 2px;
          -webkit-border-radius: 2px;
          border: 1px solid #a6b6c4;
          background: #daeded;
          font: 11px/21px Verdana;
          font-weight: bold;
          color: #014366;
          padding-left: 8px;
          box-sizing: border-box;
          margin-right: 2.36%;
          position: relative; }
          .header .header_nav_katalog_categories .button:hover {
            color: #074e23;
            border-color: #074e23; }
          @media (max-width: 1070px) {
            .header .header_nav_katalog_categories .button {
              padding: 0px;
              text-align: center; } }
          @media (max-width: 880px) {
            .header .header_nav_katalog_categories .button {
              display: none; } }
          .header .header_nav_katalog_categories .button i {
            display: block;
            float: right;
            margin-right: 2.13%;
            margin-top: 7px;
            width: 8px;
            height: 6px;
            background-image: url("../img/sprite_header.png");
            background-position: -354px -70px; }
            @media (max-width: 1070px) {
              .header .header_nav_katalog_categories .button i {
                display: none; } }
        .header .header_nav_katalog_categories .open i {
          background: url("../img/sprite_header.png");
          background-position: -354px -64px; }
  .header .header_kontakt {
    display: inline-block;
    width: 17.1%;
    margin-left: 6.6%;
    padding-left: 4px;
    box-sizing: border-box; }
    @media (max-width: 1110px) {
      .header .header_kontakt {
        width: 17%;
        margin-left: 1.2%; } }
    @media (max-width: 1009px) {
      .header .header_kontakt {
        float: right;
        margin-left: 0px;
        width: 40%; } }
    @media (max-width: 916px) {
      .header .header_kontakt {
        width: 50%; } }
    @media (max-width: 770px) {
      .header .header_kontakt {
        width: 100%; } }
    .header .header_kontakt_action {
      float: left;
      font: 12px/35px Verdana;
      color: #840000; }
      @media (max-width: 1009px) {
        .header .header_kontakt_action {
          display: none; } }
      .header .header_kontakt_action li a {
        text-decoration: underline;
        font-weight: bold; }
        .header .header_kontakt_action li a:hover {
          color: #074e23; }
    .header .header_kontakt_line {
      width: 100%;
      min-height: 104px;
      background: -moz-linear-gradient(left, rgba(224, 245, 245, 0.2) 0%, rgba(224, 245, 245, 0.7) 50%, rgba(232, 249, 248, 0.2) 100%);
      background: -webkit-linear-gradient(left, rgba(224, 245, 245, 0.2) 0%, rgba(224, 245, 245, 0.7) 50%, rgba(232, 249, 248, 0.2) 100%);
      background: linear-gradient(to right, rgba(224, 245, 245, 0.2) 0%, rgba(224, 245, 245, 0.7) 50%, rgba(232, 249, 248, 0.2) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e0f5f5', endColorstr='#e8f9f8', GradientType=1);
      float: left; }
      @media (max-width: 1009px) {
        .header .header_kontakt_line {
          min-height: 0px;
          margin-top: 15px;
          background: none; } }
      .header .header_kontakt_line .meil {
        font: 14px/40px Verdana;
        color: #024753; }
        .header .header_kontakt_line .meil:hover {
          outline: 1px solid #b80000; }
          .header .header_kontakt_line .meil:hover span {
            color: #000000;
            text-decoration: none; }
        .header .header_kontakt_line .meil span {
          text-decoration: underline; }
        @media (max-width: 1009px) {
          .header .header_kontakt_line .meil {
            display: block;
            width: 49%;
            padding: 0px 11px;
            padding-left: 11px;
            padding-left: 11px;
            color: #004191;
            border: 1px solid #004191;
            box-sizing: border-box;
            min-height: 48px;
            line-height: 20px;
            float: right;
            text-align: right;
            max-width: 180px; } }
        @media (max-width: 388px) {
          .header .header_kontakt_line .meil {
            display: block;
            margin: 5px auto;
            width: 100%;
            max-width: 180px;
            float: none; } }
        .header .header_kontakt_line .meil p {
          width: 100%;
          font: 13px/20px Verdana;
          font-weight: bold;
          color: #840000;
          display: none; }
          @media (max-width: 1009px) {
            .header .header_kontakt_line .meil p {
              display: block; } }
          @media (max-width: 423px) {
            .header .header_kontakt_line .meil p {
              font-size: 13px;
              letter-spacing: normal; } }
        .header .header_kontakt_line .meil .icon-mail_header {
          display: inline-block;
          margin-right: 5px;
          margin-top: 12px;
          background-image: url("../img/sprite_header.png");
          background-position: -25px -122px;
          width: 24px;
          height: 16px; }
          @media (max-width: 1035px) {
            .header .header_kontakt_line .meil .icon-mail_header {
              margin-right: 0; } }
          @media (max-width: 1015px) {
            .header .header_kontakt_line .meil .icon-mail_header {
              display: none; } }
      .header .header_kontakt_line .ring_wrap {
        position: relative;
        width: 100%; }
        .header .header_kontakt_line .ring_wrap:hover .ring_wrap_block {
          display: block; }
        .header .header_kontakt_line .ring_wrap_block {
          display: none;
          width: 100%;
          float: left;
          position: absolute;
          left: -51.5px;
          top: 42px;
          width: 283px;
          background: #ffffff;
          padding-left: 10px;
          z-index: 999;
          padding-top: 10px;
          -webkit-box-shadow: -2px 9px 18px 0px rgba(0, 0, 0, 0.2);
          -moz-box-shadow: -2px 9px 18px 0px rgba(0, 0, 0, 0.2);
          box-shadow: -2px 9px 18px 0px rgba(0, 0, 0, 0.2); }
          @media (max-width: 770px) {
            .header .header_kontakt_line .ring_wrap_block {
              left: 0px; } }
          @media (max-width: 388px) {
            .header .header_kontakt_line .ring_wrap_block {
              left: -51.5px; } }
          .header .header_kontakt_line .ring_wrap_block_sity {
            float: left;
            width: 50%; }
            .header .header_kontakt_line .ring_wrap_block_sity p {
              width: 100%;
              font: 13px/13px Verdana;
              font-weight: bold;
              color: #2f2f2f;
              margin-bottom: 5px;
              letter-spacing: -0.2px; }
              .header .header_kontakt_line .ring_wrap_block_sity p span {
                font-weight: normal; }
            .header .header_kontakt_line .ring_wrap_block_sity .whatsapp {
              width: 100%;
              margin-top: 20px; }
              .header .header_kontakt_line .ring_wrap_block_sity .whatsapp .zag {
                width: 100%; }
                .header .header_kontakt_line .ring_wrap_block_sity .whatsapp .zag i {
                  float: left;
                  width: 35px;
                  height: 39px;
                  background-image: url("../img/sprite_footer.png");
                  background-position: 0px -34px;
                  margin-left: 6px; }
                .header .header_kontakt_line .ring_wrap_block_sity .whatsapp .zag p {
                  font: 13px/20px Verdana;
                  margin-bottom: 0px; }
                  .header .header_kontakt_line .ring_wrap_block_sity .whatsapp .zag p span {
                    display: block;
                    color: #6b6b6b;
                    font-size: 9px; }
                .header .header_kontakt_line .ring_wrap_block_sity .whatsapp .zag a {
                  width: 100%;
                  font: 11px/17px Verdana;
                  font-weight: normal;
                  font-weight: bold;
                  color: #2f2f2f;
                  letter-spacing: -0.5px; }
          .header .header_kontakt_line .ring_wrap_block_mobile {
            width: 50%;
            float: left;
            margin-top: -3px; }
            .header .header_kontakt_line .ring_wrap_block_mobile p {
              width: 100%;
              font: 11px/17px Verdana;
              font-weight: bold;
              color: #2f2f2f;
              margin-bottom: 7px;
              letter-spacing: -0.5px; }
              .header .header_kontakt_line .ring_wrap_block_mobile p i {
                display: inline-block;
                height: 17px;
                width: 17px;
                margin-right: 4px; }
              .header .header_kontakt_line .ring_wrap_block_mobile p .tel1 {
                width: 18px;
                background-image: url("../img/sprite_footer.png");
                background-position: -20px 0px; }
              .header .header_kontakt_line .ring_wrap_block_mobile p .tel2 {
                background-image: url("../img/sprite_footer.png");
                background-position: 0px -17px; }
              .header .header_kontakt_line .ring_wrap_block_mobile p .tel3 {
                background-image: url("../img/sprite_footer.png");
                background-position: -17px -17px; }
              .header .header_kontakt_line .ring_wrap_block_mobile p .tel4 {
                width: 20px;
                background-image: url("../img/sprite_footer.png");
                background-position: 0px 0px; }
              .header .header_kontakt_line .ring_wrap_block_mobile p a {
                color: #0151bd;
                text-decoration: underline;
                margin-left: 4px;
                font-weight: bold; }
                .header .header_kontakt_line .ring_wrap_block_mobile p a:hover {
                  color: #25613c; }
        @media (max-width: 1009px) {
          .header .header_kontakt_line .ring_wrap {
            width: 180px;
            padding: 0px 11px;
            padding-left: 11px;
            padding-left: 11px;
            border: 1px solid #004191;
            height: 48px;
            float: left;
            box-sizing: border-box; } }
        @media (max-width: 770px) {
          .header .header_kontakt_line .ring_wrap {
            font-size: 11px;
            cursor: pointer; } }
        @media (max-width: 388px) {
          .header .header_kontakt_line .ring_wrap {
            display: block;
            max-width: 180px;
            width: 100%;
            box-sizing: border-box;
            float: none;
            margin: 5px auto; } }
        .header .header_kontakt_line .ring_wrap .ring {
          width: 100%;
          font: 16px/25px Verdana;
          font-weight: bold;
          color: #840000; }
          @media (max-width: 1070px) {
            .header .header_kontakt_line .ring_wrap .ring {
              position: relative;
              display: block; }
              .header .header_kontakt_line .ring_wrap .ring:before {
                content: '';
                position: absolute;
                width: 8px;
                height: 6px;
                background-image: url("../img/sprite_header.png");
                background-position: -354px -70px;
                right: -4px;
                bottom: 10px; } }
          @media (max-width: 1009px) {
            .header .header_kontakt_line .ring_wrap .ring {
              display: block;
              color: #004191;
              line-height: 20px;
              float: left;
              text-align: left;
              font-size: 15px; }
              .header .header_kontakt_line .ring_wrap .ring:before {
                display: none; } }
          @media (max-width: 770px) {
            .header .header_kontakt_line .ring_wrap .ring {
              max-width: 160px;
              font-size: 11px;
              cursor: pointer; } }
          @media (max-width: 357px) {
            .header .header_kontakt_line .ring_wrap .ring {
              display: block;
              margin: 5px auto;
              width: 100%;
              max-width: 180px;
              float: none; } }
          .header .header_kontakt_line .ring_wrap .ring:hover i {
            background-image: url("../img/sprite_header.png");
            background-position: -354px -70px; }
          .header .header_kontakt_line .ring_wrap .ring i {
            display: inline-block;
            width: 8px;
            height: 6px;
            background-image: url("../img/sprite_header.png");
            background-position: -354px -70px;
            margin-top: 9.5px;
            margin-left: 10.1px; }
            @media (max-width: 1070px) {
              .header .header_kontakt_line .ring_wrap .ring i {
                display: none; } }
          .header .header_kontakt_line .ring_wrap .ring p {
            font: 13px/20px Verdana;
            font-weight: bold;
            color: #363636; }
            @media (max-width: 840px) {
              .header .header_kontakt_line .ring_wrap .ring p {
                color: #840000; } }
            @media (max-width: 423px) {
              .header .header_kontakt_line .ring_wrap .ring p {
                letter-spacing: normal; } }
            .header .header_kontakt_line .ring_wrap .ring p span {
              display: none; }
              @media (max-width: 840px) {
                .header .header_kontakt_line .ring_wrap .ring p span {
                  display: inline; } }
          .header .header_kontakt_line .ring_wrap .ring span {
            font-size: 13px;
            font-weight: normal; }
            @media (max-width: 423px) {
              .header .header_kontakt_line .ring_wrap .ring span {
                font-weight: bold; } }
      .header .header_kontakt_line_button_line {
        width: 100%;
        padding-bottom: 3px;
        float: left; }
        @media (max-width: 1009px) {
          .header .header_kontakt_line_button_line {
            display: none; } }
        .header .header_kontakt_line_button_line .button {
          display: block;
          width: 92.85%;
          max-width: 182px;
          height: 37px;
          box-sizing: border-box;
          border: 1px solid #ff9900;
          border-radius: 3px;
          -moz-border-radius: 3px;
          -webkit-border-radius: 3px;
          font: 12px/37px Verdana;
          font-weight: bold;
          color: #ff9900;
          text-decoration: underline;
          text-align: center;
          background: -moz-linear-gradient(left, rgba(224, 245, 245, 0.2) 0%, rgba(224, 245, 245, 0.7) 50%, rgba(232, 249, 248, 0.2) 100%);
          background: -webkit-linear-gradient(left, rgba(224, 245, 245, 0.2) 0%, rgba(224, 245, 245, 0.7) 50%, rgba(232, 249, 248, 0.2) 100%);
          background: linear-gradient(to right, rgba(224, 245, 245, 0.2) 0%, rgba(224, 245, 245, 0.7) 50%, rgba(232, 249, 248, 0.2) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e0f5f5', endColorstr='#e8f9f8', GradientType=1);
          color: #840000; }
          .header .header_kontakt_line_button_line .button:hover {
            border-color: #620909; }
  .header__user_info {
    float: right;
    width: 34.18%; }
    @media (max-width: 1110px) {
      .header__user_info {
        width: 41.5%; } }
    @media (max-width: 1009px) {
      .header__user_info {
        float: left;
        width: 20%;
        text-align: right; } }
    @media (max-width: 916px) {
      .header__user_info {
        width: 25%; } }
    @media (max-width: 770px) {
      .header__user_info {
        width: 50%; } }
    @media (max-width: 357px) {
      .header__user_info {
        width: 100%;
        text-align: center; } }
    .header__user_info_product_line {
      width: 100%;
      float: left; }
      @media (max-width: 1009px) {
        .header__user_info_product_line {
          display: none; } }
      .header__user_info_product_line .compare {
        float: left;
        font: 13px/35px 'Georgia-Italic';
        color: #5d7489; }
        .header__user_info_product_line .compare:hover {
          color: #b80000; }
          .header__user_info_product_line .compare:hover .icon-compare {
            background-image: url("../img/sprite_header.png");
            background-position: 0px -175px; }
        .header__user_info_product_line .compare .icon-compare {
          display: inline-block;
          background-image: url("../img/sprite_header.png");
          background-position: -255px -64px;
          width: 31px;
          height: 27px; }
        .header__user_info_product_line .compare a {
          text-decoration: underline; }
        .header__user_info_product_line .compare span {
          font-family: Verdana;
          font-size: 11px;
          color: #b12b16;
          text-decoration: none;
          margin-left: 10px; }
      .header__user_info_product_line .basket {
        float: right;
        margin-right: 18px; }
        @media (max-width: 1110px) {
          .header__user_info_product_line .basket {
            width: 31%;
            margin-right: 0px; } }
        .header__user_info_product_line .basket:hover a {
          color: #b80000; }
        .header__user_info_product_line .basket:hover span {
          color: #b80000; }
        .header__user_info_product_line .basket:hover i {
          background-image: url("../img/sprite_header.png");
          background-position: -57px -175px; }
        .header__user_info_product_line .basket i {
          display: inline-block;
          width: 22px;
          height: 22px;
          background-image: url("../img/sprite_header.png");
          background-position: -312px -64px;
          margin-top: 6.5px;
          margin-right: 7px; }
        .header__user_info_product_line .basket a {
          display: inline-block;
          font: 13px/35px Verdana;
          font-style: italic;
          color: #003c95;
          text-decoration: underline; }
        .header__user_info_product_line .basket span {
          font: 14px/35px 'Georgia-Italic';
          color: #662211; }
    .header__user_info_info {
      width: 100%;
      background: -moz-linear-gradient(left, rgba(224, 245, 245, 0.2) 0%, rgba(224, 245, 245, 0.7) 50%, rgba(232, 249, 248, 0.2) 100%);
      background: -webkit-linear-gradient(left, rgba(224, 245, 245, 0.2) 0%, rgba(224, 245, 245, 0.7) 50%, rgba(232, 249, 248, 0.2) 100%);
      background: linear-gradient(to right, rgba(224, 245, 245, 0.2) 0%, rgba(224, 245, 245, 0.7) 50%, rgba(232, 249, 248, 0.2) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e0f5f5', endColorstr='#e8f9f8', GradientType=1);
      float: left; }
      .header__user_info_info .time {
        float: left;
        margin-top: 12px;
        position: relative; }
        @media (max-width: 1009px) {
          .header__user_info_info .time {
            float: right; } }
        @media (max-width: 357px) {
          .header__user_info_info .time {
            display: inline-block;
            float: none; } }
        .header__user_info_info .time .timer {
          position: absolute;
          width: 270px;
          float: left;
          top: 100%;
          left: 0;
          z-index: 99;
          background: #252525;
          -webkit-box-shadow: -2px 3px 18px 0px rgba(0, 0, 0, 0.2);
          -moz-box-shadow: -2px 3px 18px 0px rgba(0, 0, 0, 0.2);
          box-shadow: -2px 3px 18px 0px rgba(0, 0, 0, 0.2);
          display: none; }
          @media (max-width: 770px) {
            .header__user_info_info .time .timer {
              left: auto;
              right: 0px; } }
          .header__user_info_info .time .timer .zag {
            width: 100%;
            box-sizing: border-box;
            font: 13px/25px Verdana;
            color: #2a2a2a;
            background: #FFFFFF;
            padding-left: 10px; }
          .header__user_info_info .time .timer_name_line {
            width: 100%;
            text-align: center;
            background: #ffffff;
            font: 13px/15px Verdana;
            color: #2a2a2a; }
            .header__user_info_info .time .timer_name_line span {
              display: inline-block;
              width: 52px; }
          .header__user_info_info .time .timer .timer_line {
            width: 100%;
            text-align: center; }
            .header__user_info_info .time .timer .timer_line .timer_block {
              display: inline-block;
              width: 100%;
              max-width: 156px;
              height: 100%;
              color: #ffffff;
              font-weight: bold; }
        .header__user_info_info .time .icon {
          display: inline-block;
          width: 59px;
          height: 58px;
          background-image: url("../img/sprite_header.png");
          background-position: 0px -64px;
          float: left; }
          @media (max-width: 1009px) {
            .header__user_info_info .time .icon {
              display: none; } }
        .header__user_info_info .time_text {
          float: left;
          text-align: right; }
          .header__user_info_info .time_text p {
            font: 14px/15px Verdana;
            font-weight: bold; }
            .header__user_info_info .time_text p i {
              font-size: 11px;
              font-weight: bold;
              margin: 0 4px; }
            .header__user_info_info .time_text p span {
              color: #ff0000;
              font-weight: bold; }
          .header__user_info_info .time_text h4 {
            font: 14px/20px 'Georgia-BoldItalic';
            margin-top: 20px;
            text-decoration: underline;
            color: #5d7489;
            text-align: left;
            margin-left: 10px;
            cursor: pointer;
            float: left; }
            @media (max-width: 1009px) {
              .header__user_info_info .time_text h4 {
                float: right; } }
            .header__user_info_info .time_text h4:hover {
              outline: 1px solid #b80000;
              color: #000000;
              text-decoration: none;
              font-weight: bold; }
            @media (max-width: 636px) {
              .header__user_info_info .time_text h4 {
                font-size: 12px;
                line-height: 20px;
                text-align: right; } }
      .header__user_info_info_serch {
        float: right;
        position: relative;
        width: 128px;
        height: 32px;
        padding: 3px;
        margin-top: 15px; }
        @media (max-width: 1110px) {
          .header__user_info_info_serch {
            width: 31%; } }
        @media (max-width: 1009px) {
          .header__user_info_info_serch {
            display: none; } }
        .header__user_info_info_serch_input {
          width: 100%;
          height: 21px;
          border: 1px solid #024753;
          font: 13px/21px Verdana;
          color: #5d7489;
          font-weight: bold;
          text-align: center;
          box-sizing: border-box;
          background: #ffffff;
          cursor: pointer; }
          .header__user_info_info_serch_input span {
            font-weight: normal;
            font-size: 20px;
            line-height: 18px; }
        .header__user_info_info_serch_lupa {
          display: block;
          width: 32px;
          height: 32px;
          background-image: url("../img/sprite_header.png");
          background-position: -223px -64px;
          top: 3px;
          right: 25px;
          position: absolute; }
          @media (max-width: 1110px) {
            .header__user_info_info_serch_lupa {
              right: 25%;
              top: 2px; } }
          @media (max-width: 1024px) {
            .header__user_info_info_serch_lupa {
              right: 21%;
              top: 4x; } }
      .header__user_info_info_check {
        font: 14px/20px Verdana;
        color: #024753;
        text-decoration: underline;
        float: left;
        margin-top: 20px; }
        .header__user_info_info_check:hover {
          outline: 1px solid #b80000;
          color: #000000;
          text-decoration: none;
          font-weight: bold; }
        @media (max-width: 1009px) {
          .header__user_info_info_check {
            display: none; } }
      .header__user_info_info_select_line {
        float: left;
        width: 100%;
        height: 37px;
        padding-bottom: 3px;
        background: -moz-linear-gradient(left, rgba(224, 245, 245, 0.2) 0%, rgba(224, 245, 245, 0.7) 50%, rgba(232, 249, 248, 0.2) 100%);
        background: -webkit-linear-gradient(left, rgba(224, 245, 245, 0.2) 0%, rgba(224, 245, 245, 0.7) 50%, rgba(232, 249, 248, 0.2) 100%);
        background: linear-gradient(to right, rgba(224, 245, 245, 0.2) 0%, rgba(224, 245, 245, 0.7) 50%, rgba(232, 249, 248, 0.2) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e0f5f5', endColorstr='#e8f9f8', GradientType=1);
        padding-top: 20px; }
        @media (max-width: 1170px) {
          .header__user_info_info_select_line {
            padding-top: 30px; } }
        @media (max-width: 1110px) {
          .header__user_info_info_select_line {
            padding-top: 18px; } }
        @media (max-width: 1009px) {
          .header__user_info_info_select_line {
            display: none; } }
        .header__user_info_info_select_line_select {
          float: left;
          width: 128px;
          height: 37px;
          border: 1px solid #ff9900;
          border-radius: 4px;
          -moz-border-radius: 4px;
          -webkit-border-radius: 4px;
          font: 11px/12px Verdana;
          color: #023d98;
          display: block;
          box-sizing: border-box;
          margin-right: 7px;
          text-align: center; }
          @media (max-width: 1171px) {
            .header__user_info_info_select_line_select {
              width: 31%;
              margin-right: 3.3%; } }
          .header__user_info_info_select_line_select:hover {
            color: #074e23;
            border-color: #620909; }
          .header__user_info_info_select_line_select:nth-last-child(1) {
            margin-right: 0px; }
          .header__user_info_info_select_line_select p {
            text-align: center;
            display: inline-block;
            text-decoration: underline;
            font-weight: bold;
            margin-top: 5px; }
          .header__user_info_info_select_line_select i {
            display: block;
            float: right;
            margin-right: 11px;
            margin-top: 14px;
            width: 8px;
            height: 6px;
            background-image: url("../img/sprite_header.png");
            background-position: -354px -70px; }
        .header__user_info_info_select_line .open i {
          background-image: url("../img/sprite_header.png");
          background-position: -354px -64px; }

/*************************************************header_mini**********************************************************/
.header_mini {
  width: 100%;
  min-height: 38px;
  background: #f6f6f6;
  border-bottom: 1px solid #dadfdd;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 88; }
  .header_mini .ring_wrap {
    position: relative;
    width: auto;
    float: left; }
    @media (max-width: 1009px) {
      .header_mini .ring_wrap {
        border: none;
        width: auto; } }
    @media (max-width: 558px) {
      .header_mini .ring_wrap {
        margin-right: 10px;
        float: right; }
        .header_mini .ring_wrap .ring_wrap_block {
          left: auto;
          right: 0px; } }
    .header_mini .ring_wrap:hover .ring_wrap_block {
      display: block; }
    .header_mini .ring_wrap_block {
      display: none;
      width: 100%;
      float: left;
      position: absolute;
      left: -51.5px;
      top: 38px;
      width: 283px;
      background: #ffffff;
      padding-left: 10px;
      z-index: 999;
      padding-top: 10px;
      -webkit-box-shadow: -2px 9px 18px 0px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: -2px 9px 18px 0px rgba(0, 0, 0, 0.2);
      box-shadow: -2px 9px 18px 0px rgba(0, 0, 0, 0.2); }
      @media (max-width: 770px) {
        .header_mini .ring_wrap_block {
          left: -51.5px;
          /**/ } }
      .header_mini .ring_wrap_block_sity {
        float: left;
        width: 50%; }
        .header_mini .ring_wrap_block_sity p {
          width: 100%;
          font: 13px/13px Verdana;
          font-weight: bold;
          color: #2f2f2f;
          margin-bottom: 5px;
          letter-spacing: -0.2px; }
          .header_mini .ring_wrap_block_sity p span {
            font-weight: normal; }
        .header_mini .ring_wrap_block_sity .whatsapp {
          width: 100%;
          margin-top: 20px; }
          .header_mini .ring_wrap_block_sity .whatsapp .zag {
            width: 100%; }
            .header_mini .ring_wrap_block_sity .whatsapp .zag i {
              float: left;
              width: 35px;
              height: 39px;
              background-image: url("../img/sprite_footer.png");
              background-position: 0px -34px;
              margin-left: 6px; }
            .header_mini .ring_wrap_block_sity .whatsapp .zag p {
              font: 13px/20px Verdana;
              margin-bottom: 0px; }
              .header_mini .ring_wrap_block_sity .whatsapp .zag p span {
                display: block;
                color: #6b6b6b;
                font-size: 9px; }
            .header_mini .ring_wrap_block_sity .whatsapp .zag a {
              width: 100%;
              font: 11px/17px Verdana;
              font-weight: normal;
              font-weight: bold;
              color: #2f2f2f;
              letter-spacing: -0.5px; }
      .header_mini .ring_wrap_block_mobile {
        width: 50%;
        float: left;
        margin-top: -3px; }
        .header_mini .ring_wrap_block_mobile p {
          width: 100%;
          font: 11px/17px Verdana;
          font-weight: bold;
          color: #2f2f2f;
          margin-bottom: 7px;
          letter-spacing: -0.5px; }
          .header_mini .ring_wrap_block_mobile p i {
            display: inline-block;
            height: 17px;
            width: 17px;
            margin-right: 4px; }
          .header_mini .ring_wrap_block_mobile p .tel1 {
            width: 18px;
            background-image: url("../img/sprite_footer.png");
            background-position: -20px 0px; }
          .header_mini .ring_wrap_block_mobile p .tel2 {
            background-image: url("../img/sprite_footer.png");
            background-position: 0px -17px; }
          .header_mini .ring_wrap_block_mobile p .tel3 {
            background-image: url("../img/sprite_footer.png");
            background-position: -17px -17px; }
          .header_mini .ring_wrap_block_mobile p .tel4 {
            width: 20px;
            background-image: url("../img/sprite_footer.png");
            background-position: 0px 0px; }
          .header_mini .ring_wrap_block_mobile p a {
            color: #0151bd;
            text-decoration: underline;
            margin-left: 4px;
            font-weight: bold; }
            .header_mini .ring_wrap_block_mobile p a:hover {
              color: #25613c; }
    @media (max-width: 770px) {
      .header_mini .ring_wrap {
        font-size: 11px;
        cursor: pointer; } }
    .header_mini .ring_wrap .ring {
      width: 100%;
      font: 16px/25px Verdana;
      font-weight: bold;
      color: #840000;
      position: relative; }
      @media (max-width: 396px) {
        .header_mini .ring_wrap .ring {
          display: block;
          margin: 5px auto; } }
      .header_mini .ring_wrap .ring:before {
        content: '';
        position: absolute;
        width: 8px;
        height: 6px;
        background-image: url("../img/sprite_header.png");
        background-position: -354px -70px;
        right: -11px;
        top: 16px; }
      @media (max-width: 1009px) {
        .header_mini .ring_wrap .ring {
          display: block;
          color: #004191;
          line-height: 20px;
          float: left;
          text-align: left;
          font-size: 15px; } }
      @media (max-width: 770px) {
        .header_mini .ring_wrap .ring {
          font-size: 11px;
          cursor: pointer; } }
      @media (max-width: 558px) {
        .header_mini .ring_wrap .ring {
          float: right; } }
      .header_mini .ring_wrap .ring i {
        display: inline-block;
        width: 8px;
        height: 6px;
        background-image: url("../img/sprite_header.png");
        background-position: -354px -70px;
        margin-top: 9.5px;
        margin-left: 10.1px; }
      .header_mini .ring_wrap .ring p {
        font: 13px/20px Verdana;
        font-weight: bold;
        color: #363636; }
        @media (max-width: 840px) {
          .header_mini .ring_wrap .ring p {
            color: #840000; } }
        @media (max-width: 423px) {
          .header_mini .ring_wrap .ring p {
            letter-spacing: normal; } }
        .header_mini .ring_wrap .ring p span {
          display: none; }
          @media (max-width: 840px) {
            .header_mini .ring_wrap .ring p span {
              display: inline; } }
      .header_mini .ring_wrap .ring span {
        font-size: 13px;
        font-weight: normal; }
        @media (max-width: 423px) {
          .header_mini .ring_wrap .ring span {
            font-weight: bold; } }
  .header_mini .header_nav {
    width: 35.5%;
    float: left; }
    @media (max-width: 1106px) {
      .header_mini .header_nav {
        width: 30%; } }
    @media (max-width: 770px) {
      .header_mini .header_nav {
        float: left;
        width: auto; } }
    .header_mini .header_nav nav {
      display: none; }
    .header_mini .header_nav .header_nav_sandwich {
      float: left;
      display: inline-block;
      width: 32px;
      height: 32px;
      border: 1px solid #023d98;
      margin-top: 4px;
      box-sizing: border-box;
      background: #010206;
      padding: 1px; }
      @media (max-width: 770px) {
        .header_mini .header_nav .header_nav_sandwich {
          display: none; } }
      .header_mini .header_nav .header_nav_sandwich:hover {
        background: none;
        border: 2px solid #b80000;
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px; }
        .header_mini .header_nav .header_nav_sandwich:hover i {
          border: none; }
          .header_mini .header_nav .header_nav_sandwich:hover i span {
            background: #b80000;
            width: 20px; }
      .header_mini .header_nav .header_nav_sandwich i {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 2px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border: 1px solid #eaea00;
        box-sizing: border-box; }
      .header_mini .header_nav .header_nav_sandwich span {
        display: block;
        width: 18px;
        height: 2px;
        margin-bottom: 4px;
        margin-left: auto;
        margin-right: auto;
        background: #eaea00; }
        .header_mini .header_nav .header_nav_sandwich span:nth-child(1) {
          margin-top: 3px; }
        .header_mini .header_nav .header_nav_sandwich span:nth-last-child(1) {
          display: block;
          margin-bottom: 3px; }
    .header_mini .header_nav .header_nav_logo_line {
      width: auto;
      float: left;
      background: none; }
      .header_mini .header_nav .header_nav_logo_line .logo_mini {
        display: none; }
      @media (max-width: 1007px) {
        .header_mini .header_nav .header_nav_logo_line {
          float: right; } }
      @media (max-width: 750px) {
        .header_mini .header_nav .header_nav_logo_line {
          float: left; }
          .header_mini .header_nav .header_nav_logo_line a {
            margin-left: 0px; } }
      @media (max-width: 546px) {
        .header_mini .header_nav .header_nav_logo_line {
          float: none;
          display: inline-block; } }
      .header_mini .header_nav .header_nav_logo_line .header_nav_logo_line_sity {
        display: none; }
      .header_mini .header_nav .header_nav_logo_line .header_nav_logo_line_schem {
        display: none; }
      .header_mini .header_nav .header_nav_logo_line .header_nav_logo_line_logo .logo_big {
        width: 26px;
        height: 25px;
        background-image: url("../img/sprite_header.png");
        background-position: -286px -64px;
        font-size: 0px;
        padding: 0px;
        display: block;
        margin-top: 7px;
        margin-left: 27px; }
        @media (max-width: 770px) {
          .header_mini .header_nav .header_nav_logo_line .header_nav_logo_line_logo .logo_big {
            margin-left: 0px;
            margin-top: 12px; } }
        .header_mini .header_nav .header_nav_logo_line .header_nav_logo_line_logo .logo_big:hover {
          background-image: url("../img/sprite_header.png");
          background-position: -31px -175px; }
        .header_mini .header_nav .header_nav_logo_line .header_nav_logo_line_logo .logo_big:before {
          display: none; }
      .header_mini .header_nav .header_nav_logo_line .header_nav_logo_line_logo p {
        display: none; }
    .header_mini .header_nav .header_nav_katalog {
      background: none;
      border: none;
      min-height: 0px;
      text-align: right; }
      .header_mini .header_nav .header_nav_katalog .header_nav_katalog_all {
        display: none; }
      .header_mini .header_nav .header_nav_katalog .button {
        display: none; }
      .header_mini .header_nav .header_nav_katalog .all_mini {
        display: block;
        text-align: left;
        margin-top: 7px;
        float: right;
        width: 115px;
        height: 28px;
        background: #e3e3e3;
        border: 1px solid #5d7489;
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        font: 16px/28px Verdana;
        text-transform: uppercase;
        color: #1d529f;
        position: relative;
        padding-left: 7px;
        box-sizing: border-box;
        letter-spacing: 0.6px; }
        @media (max-width: 1007px) {
          .header_mini .header_nav .header_nav_katalog .all_mini {
            display: none; } }
        .header_mini .header_nav .header_nav_katalog .all_mini:hover {
          color: #b80000; }
        .header_mini .header_nav .header_nav_katalog .all_mini:before {
          content: '';
          display: block;
          position: absolute;
          width: 8px;
          height: 6px;
          background: url("../img/sprite_header.png");
          background-position: -354px -70px;
          top: 11px;
          right: 7px;
          margin-left: 10.1px; }
        @media (max-width: 405px) {
          .header_mini .header_nav .header_nav_katalog .all_mini {
            display: none; } }
      .header_mini .header_nav .header_nav_katalog .open:before {
        background: url("../img/sprite_header.png");
        background-position: -354px -64px; }
  .header_mini .header_kontakt {
    width: 33%;
    margin-left: 4.5%;
    float: left; }
    @media (max-width: 1170px) {
      .header_mini .header_kontakt {
        float: right;
        width: 42%;
        margin-left: 0px; } }
    @media (max-width: 1006px) {
      .header_mini .header_kontakt {
        float: right;
        width: 60%; } }
    @media (max-width: 770px) {
      .header_mini .header_kontakt {
        width: 70%;
        margin-left: 0px;
        float: right; } }
  .header_mini .header_kontakt_action {
    display: none; }
  .header_mini .header_kontakt_line_button_line {
    display: none; }
  .header_mini .header_kontakt_line {
    width: 100%;
    min-height: 0;
    background: none; }
    @media (max-width: 405px) {
      .header_mini .header_kontakt_line {
        text-align: center; } }
    .header_mini .header_kontakt_line .ring {
      float: left;
      width: auto;
      display: block;
      font: 16px/38px Verdana;
      font-weight: normal;
      font-weight: bold;
      color: #840000;
      cursor: auto; }
      @media (max-width: 558px) {
        .header_mini .header_kontakt_line .ring {
          float: right; } }
      .header_mini .header_kontakt_line .ring span {
        font-size: 12px; }
      .header_mini .header_kontakt_line .ring p {
        display: none; }
      .header_mini .header_kontakt_line .ring i {
        width: 20px;
        height: 20px;
        background: url("../img/sprite_header.png");
        background-position: -334px -64px;
        margin-left: 0px;
        float: left;
        margin-top: 9px;
        margin-right: 10px; }
    .header_mini .header_kontakt_line .meil {
      float: right;
      font: 14px/38px Verdana;
      color: #024753;
      margin-right: 10px; }
      @media (max-width: 558px) {
        .header_mini .header_kontakt_line .meil {
          display: none; } }
      .header_mini .header_kontakt_line .meil p {
        display: none; }
      .header_mini .header_kontakt_line .meil .icon-mail_header {
        display: inline-block;
        width: 24px;
        height: 16px;
        background: url("../img/sprite_header.png");
        background-position: -49px -122px;
        margin-top: 11px;
        margin-right: 9px; }
  .header_mini .header__user_info {
    width: 24.01%; }
    @media (max-width: 1170px) {
      .header_mini .header__user_info {
        width: 15%; }
        .header_mini .header__user_info .basket {
          display: none; } }
    .header_mini .header__user_info .header__user_info_info {
      display: none; }
    .header_mini .header__user_info .basket {
      margin-right: 5px; }
  @media (max-width: 1007px) {
    .header_mini .header__user_info_product_line {
      display: none; } }

/**/
/**********************************************************************************************************************/
