@mixin radius($r) {
  border-radius: $r;
  -moz-border-radius: $r;
  -webkit-border-radius: $r;
}
@mixin transit($s) {
  transition: $s;
  -moz-transition: $s;
  -webkit-transition: $s;
  -o-transition: $s;
}
.comment_block{
  position: absolute;
  top:20px;
  left:20px;
  width: 100%;
  max-width: 1170px;
  min-height: 550px;
  background: #ffffff;
  z-index: 99;
  -webkit-box-shadow: 0px -3px 10px 0px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px -3px 10px 0px rgba(0, 0, 0, 0.24);
  box-shadow: 0px -3px 10px 0px rgba(0, 0, 0, 0.24);
  .close {
    display: block;
    position: absolute;
    top: -16.5px;
    right: -16.5px;
    width: 33px;
    height: 33px;
   @include radius(50%);
    background: #FFFFFF;
    text-align: center;
    i {
      display: inline-block;
      width: 15px;
      height: 15px;
      margin-top: 9px;
      background-image: url("../img/sprite_section.png");
      background-position: -85px -192px;
    }
  }
  &_header{
    width: 100%;
    min-height: 67px;
    border: 1px solid #cdcdcd;
    box-sizing: border-box;
    padding-left: 22px;
    h3{
      float: left;
      width: 100%;
      font: 18px/30px 'Roboto-Medium';
      color: #024753;
      margin-top: 17px;
      .comment_icon{
        width: 26px;
        height: 22px;
        display: inline-block;
        background-image: url("../img/temp_sprite/commennt.png");
        background-position: center;
        margin-right: 20px;
        margin-top: 5px;
      }
    }
  }
  .individuals_block{
    width: 100%;
    float: left;
    position: relative;
    padding-top: 28px;
    padding-bottom: 28px;
    border: 1px solid #cdcdcd;
    border-top: none;
    .slick-arrow{
      margin-top: 0px;
      top:60px;
      background-color: transparent;
    }
    .slick-prev{
      left: -5px;
    }
    .slick-next{
      right: -5px;
      right: -5px;
    }
    &_slide{
      width: 100%;
      float: left;
      padding: 0px 30px;
      box-sizing: border-box;
      position: relative;
    .help_baner{
      position: absolute;
      padding: 15px 22px;
      font: 14px/20px 'Roboto-Medium';
      background: #FFFFFF;
      border: 1px solid #ff0000;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      width: 50%;
      max-width: 518px;
      right: 5.8%;
      top: 95px;
      z-index: 999;
      display: none;
      box-sizing: border-box;
      @media(max-width: 978px){
        right: 22%;

      }
      @media(max-width: 700px){
        right: 10%;

      }
      .arow_help {
        position: absolute;
        z-index: 99;
        width: 30px;
        height: 14px;
        background-image: url("../img/sprite_section.png");
        background-position: -46px -170px;
        top: -14px;
        right: 15%;
      }
    }

      &_header{
        width: 100%;
        min-height: 110px;
        &_men{
          float: left;
          width: 50%;
          @media(max-width: 978px){
            width: 60%;
            margin: 0 auto;
            float: none;
            margin-bottom: 10px;
            clear: both;
            overflow: hidden;
          }
          @media(max-width: 700px){
            width: 100%;
          }
          &_foto{
            float: left;
          }
          &_info_block{
            float: right;
            width: 75%;
            h3{
              width: 100%;
              font: 20px/30px 'robotobold';
              color: #2d2d2d;
            }
            .star_line {
              width: 100%;
              height: 17px;
              margin-top: 22px;
              a {
                display: inline-block;
                width: 16px;
                height: 17px;
                background-image: url("../img/sprite_section.png");
                background-position: -68px -192px;
              }
              .activ {
                background-image: url("../img/sprite_section.png");
                background-position: -51px -192px;
              }
            }
            .data{
              width: 100%;
              font: 12px/24px 'robotoregular';
              color: #888888;
              margin-top: 10px;
            }
          }
        }
        &_yandex_block{
          float: left;
          width: 50%;
          border:2px solid rgba(2,71,83,1);
          box-sizing: border-box;
          min-height: 110px;
          @media(max-width: 978px){
            width: 60%;
            margin: 0 auto;
            float: none;
            clear: both;
          }
          @media(max-width: 700px){
            width: 100%;
          }
          &_comment{
            float: left;
            margin-top: 2.5px;
          }
          &_baner_yandex{
            float: right;
            display: block;
            width: 40%;
            margin-top: 15.5px;
            margin-right: 5%;
            img{
              max-width: 100%;
            }
          }
        }
      }
      &_content{
        float: left;
        width: 100%;
        padding-top: 20px;
        p{
          font:12px/18px 'robotolight';
          color: #282828;
          letter-spacing: 0.5px;
        }
        .text_block{
          width: 100%;
          float: left;
          position: relative;
          .all_read{
            font: 10px/20px 'Georgia-BoldItalic';
            font-style: italic;
            position: absolute;
            right:20px;
            bottom:0px;
            color: #003c95;
            text-decoration: underline;
            display: none;
            &:hover{
              color: #620909;
            }
          }
        }
        .text_wrap{
          width: 100%;
          float: left;
          overflow: hidden;
          box-sizing: border-box;


        }
        .big{
          padding-bottom: 20px;
          .all_read{
            display: block;
          }
        }
        .main_wrap{
          height: 54px;

        }
        &_main{
          width: 100%;
        }
        &_detail{
          width: 100%;
          padding: 20px 0px;
          background: url("../img/line2.png") left bottom repeat-x;
          float: left;
          h3{
            float: left;
            font:14px/18px 'robotoBlack';
            }
          p{
            float: right;
            width: 90%;
          }
          .detail_wrap{
            height: 72px;

          }
          &_worth{
            float: left;
            width: 100%;
            h3{
              color: #1c7d09;
            }
          }
          &_limitations{
            float: left;
            width: 100%;
            margin-top: 20px;
            h3{
              color: #e81e1e;
            }
          }
        }
        &_quality{
          float: left;
          width: 100%;
          &_zag{
            width: 100%;
            float: left;
            h3{
              float: left;
              width: 100%;
              font: 20px/40px 'robotobold';
              color: #2d2d2d;
              margin: 22px 0px;
              a{
                display: inline-block;
                margin-right: 12px;

              }
            }
          }
        }
      }
    }
  }
  .entity_block{
    width: 100%;
  }
}