@mixin radius($r) {
  border-radius: $r;
  -moz-border-radius: $r;
  -webkit-border-radius: $r;
}
@mixin transit($s) {
  transition: $s;
  -moz-transition: $s;
  -webkit-transition: $s;
  -o-transition: $s;
}
/******************Стили модальных окон без тёмного фона начало**************************************/
.big_text{
  position: absolute;
  width: 60%;
  left:10%;
  top:10%;
  -webkit-box-shadow: 0px -3px 10px 0px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px -3px 10px 0px rgba(0, 0, 0, 0.24);
  box-shadow: 0px -3px 10px 0px rgba(0, 0, 0, 0.24);
  background: #FFFFFF;
  padding: 3%;
  box-sizing: border-box;
  z-index: 999;
  display: none;
  p{
    width: 100%;
    font: 20px/22px 'Georgia-Italic';
    color: #1b1b1b;
    img{
      float: left;
      margin-right: 15px;
      margin-bottom: 15px;
    }
  }
  .close {
    display: block;
    position: absolute;
    top: -16.5px;
    right: -16.5px;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background: #FFFFFF;
    text-align: center;
    i {
      display: inline-block;
      width: 15px;
      height: 15px;
      margin-top: 9px;
      background-image: url("../img/sprite_section.png");
      background-position: -85px -192px;
    }
  }
}
.logo_modal {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 303px;
  height: 47px;
  background-image: url("../img/logo_modal.png");
  padding-left: 21px;
  box-sizing: border-box;
  display: none;
  z-index: 99;
  &_logo_block {
    float: left;
    margin-right: 13px;

    &_logo {
      padding-left: 19px;
      display: block;
      font: 17px/22px Verdana;
      font-weight: bold;
      display: block;
      position: relative;
      span {
        color: #e70101;
        font-weight: bold;
      }
      &:before {
        content: '';
        display: block;
        position: absolute;
        left: 0px;
        top: 0px;
        width: 16px;
        height: 20px;
        background-image: url("../img/sprite_header.png");
        background-position: 0px -155px;
      }
    }
    a {
      display: block;
      color: #003b98;
      font: 11px/22px Verdana;
      font-weight: bold;
      text-decoration: underline;
    }
  }
  &_slogan_block {
    float: left;
    p {
      font: 12px/15px Verdana;
      font-style: italic;
      color: #820007;
      letter-spacing: -0.8px;
      margin-top: 8px;
    }
  }
}
.podmenu{
  width: 100%;
}
.brend_block {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  max-width: 660px;
  background: rgb(245, 246, 250);
  background: -moz-linear-gradient(top, rgba(245, 246, 250, 1) 0%, rgba(245, 233, 207, 1) 100%);
  background: -webkit-linear-gradient(top, rgba(245, 246, 250, 1) 0%, rgba(245, 233, 207, 1) 100%);
  background: linear-gradient(to bottom, rgba(245, 246, 250, 1) 0%, rgba(245, 233, 207, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f6fa', endColorstr='#f5e9cf', GradientType=0);
  min-height: 280px;
  z-index: 9;
  padding: 9px;
  border: 1px solid #687178;
  box-sizing: border-box;
  display: none;
  .close {
    display: block;
    position: absolute;
    top: -16.5px;
    right: -16.5px;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background: #FFFFFF;
    text-align: center;
    i {
      display: inline-block;
      width: 15px;
      height: 15px;
      margin-top: 9px;
      background-image: url("../img/sprite_section.png");
      background-position: -85px -192px;
    }
  }
  &_box_line {
    float: left;
    width: 100%;
  }
  &_box {
    float: left;
    width: 33.33%;
    min-height: 177px;
    border-right: 1px solid #783938;
    box-sizing: border-box;
    padding: 0px 9px;
    @media(max-width: 405px){
      width: 100%;
      border-bottom:1px solid #783938;;
    }
    &:last-child {
      border: none;
      padding-right: 0px;
    }
    &:nth-child(1) {
      padding-left: 0px;
    }

    &_zag {
      width: 100%;
      box-sizing: border-box;
      background: #014366;
      font: 9px/19px Verdana;
      color: #FFFFFF;
      padding-left: 7px;
      letter-spacing: -0.4px;
      min-height: 19px;
    }
    &_rating {
      width: 100%;
      height: 16px;
      margin-top: 9px;
      p {
        float: left;
        font: 11px/16px Verdana;
        letter-spacing: -0.4px;

      }
      &_star_line {
        float: right;
        a {
          display: inline-block;
          width: 16px;
          height: 16px;
          background-image: url("../img/sprite_section.png");
          background-position: -68px -192px;

        }
        .star_action {
          background-image: url("../img/sprite_section.png");
          background-position: -51px -192px;
        }
      }
    }
    &_logo_block {
      width: 100%;
      overflow: hidden;
      a {
        display: block;
        float: left;
        width: 50%;
        text-align: center;
        img {
          max-width: 100%;
        }
      }
      .big{
        width: 70%;
        float: left;
        img{
          width: 100%;
        }
      }
    }

  }
  &_footer {
    float: right;
    width: 100%;
    margin-top: 13px;
    &_winner {
      float: left;
      padding-left: 13px;
      background: #090e15;
      width: 65.67%;
      box-sizing: border-box;
      min-height: 69px;
      @media(max-width: 597px){
        width: 100%;
      }
      &_text {
        float: left;
        h5 {
          width: 100%;
          font: 14px/18px 'Georgia-BoldItalic';
          color: #FFFFFF;
          margin-top: 5px;
        }
        p {
          width: 100%;
          font: 12px/18px Verdana;
          font-weight: bold;
          color: #e7554d;
        }
        a {
          width: 100%;
          font: 14px/18px Verdana;
          text-decoration: underline;
          color: #f9fa00;
        }
      }
      &_logo {
        float: right;
        display: block;
        margin-top: 1px;
        margin-right: 1px;
      }
    }
    &_brend_all {
      float: left;
      width: 34.33%;
      padding-left: 23px;
      font: 13px/18px Verdana;
      font-weight: bold;
      text-decoration: underline;
      color: #003c95;
      box-sizing: border-box;
      &:hover{
        color: #620909;
      }
      span {
        display: block;
        font-weight: bold;
        margin-top: 15px;
      }
      @media(max-width: 597px){
        width: 100%;
        text-align: center;
      }
    }
  }

}

.area_block {
  position: absolute;
  width: 100%;
  max-width: 816px;
  min-height: 299px;
  background: url("../img/area.jpg") center top no-repeat;
  top: 0px;
  left: 0px;
  padding: 22px 0px 0px 12px;
  box-sizing: border-box;
  z-index: 9;
  display: none;
  -webkit-box-shadow: -2px 3px 18px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -2px 3px 18px 0px rgba(0, 0, 0, 0.2);
  box-shadow: -2px 3px 18px 0px rgba(0, 0, 0, 0.2);
  .close {
    display: block;
    position: absolute;
    top: -16.5px;
    right: -16.5px;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background: #FFFFFF;
    text-align: center;
    i {
      display: inline-block;
      width: 15px;
      height: 15px;
      margin-top: 9px;
      background-image: url("../img/sprite_section.png");
      background-position: -85px -192px;
    }
  }
  &_power_line {
    width: 100%;
    float: left;
    &_block {
      float: left;
      width: 32%;
      min-height: 76px;
      margin-right: 9px;
      border: 2px solid;
      box-sizing: border-box;
      margin-bottom: 21px;
      padding-right: 7px;
      border-color: #014366;
      background: rgb(255, 255, 255);
      background: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(206, 234, 206, 1) 100%);
      background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(206, 234, 206, 1) 100%);
      background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(206, 234, 206, 1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ceeace', GradientType=1);
      cursor: pointer;
      @include transit(1s);
      &_namder {
        float: left;
        width: 52px;
        height: 52px;
        background: url("../img/shadow.png") center bottom no-repeat;
        margin-top: -10px;
        margin-left: 8px;
        p {
          font: 30px/45px Verdana;
          font-weight: bold;
          display: block;
          @include radius(50%);
          border: 2px solid;
          text-align: center;
          box-sizing: border-box;
          width: 100%;
          height: 100%;
          background: #FFFFFF;
          box-sizing: border-box;
          margin-top: -3px;
          letter-spacing: -1.3px;
          color: #014366;
          border-color: #014366;
        }
        .big {
          padding-right: 4px;
        }
      }
      &_info {
        float: left;
        width: 73%;
        float: right;
        &_power {
          width: 100%;
          &_name {
            float: left;
            font: 10px/25px Verdana;
            color: #3b3b3b;
            margin-top: 5px;
            letter-spacing: -0.5px;
          }
          &_namber {
            float: right;
            font: 11px/25px Arial;
            font-weight: bold;
            color: #881101;
            margin-top: 5px;
            i {
              color: #6b6b6b;
            }
            b {
              color: #662211;
            }
          }
        }
        &_area {
          width: 100%;
          &_name {
            float: left;
            font: 11px/12px Verdana;
            color: #6b6b6b;
            i {
              font-family: 'Georgia-BoldItalic';
            }

          }
          &_namber {
            float: right;
            span {
              font: 10px/12px Verdana;
            }
            b {
              font: 12px/12px Arial;
              font-weight: bold;
              color: #881101;
            }
            i {
              font: 11px/12px 'Georgia-BoldItalic';
              color: #662211;
              sup {
                vertical-align: super;
                font-size: 5px;
              }
            }
          }
        }

      }
      &_price {
        width: 100%;
        padding-left: 7px;
        box-sizing: border-box;
        float: left;
        &_net {
          float: left;
          font: 9px/14px Verdana;
          letter-spacing: -0.2px;
          span {
            font: 12px/14px Arial;
            color: #023d98;
            text-decoration: underline;
          }
          i {
            font: 9px/14px 'Georgia-BoldItalic';
            color: #662211;
          }
        }
        &_hollow {
          float: right;
          font: 9px/14px Verdana;
          letter-spacing: -0.3px;
          span {
            font: 12px/14px Arial;
            color: #023d98;
            text-decoration: underline;
          }
          i {
            font: 11px/14px 'Georgia-BoldItalic';
            color: #662211;
          }
        }
      }
      &:hover {
        border-color: #620909;
        background: rgb(255, 255, 255);
        background: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(244, 234, 208, 1) 100%);
        background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(244, 234, 208, 1) 100%);
        background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(244, 234, 208, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f4ead0', GradientType=1);
        .area_block_power_line_block_namder {
          p {
            color: #620909;
            border-color: #620909;
          }
        }
      }
    }

  }
  &_inverter {
    width: 100%;
    float: left;
    &_block {
      float: left;
      width: 32%;
      min-height: 60px;
      background: rgba(255, 255, 255, 0.2);
      border: 1px solid #FFFFFF;
      margin-right: 9px;
      box-sizing: border-box;
      padding: 0px 8px;
      &:hover{
        border-color: #003c95;
        a{
          color: #620909;
        }
      }
      &_name {
        width: 100%;
        font: 12px/14px Arial;
        font-weight: bold;
        color: #023d98;
        text-decoration: underline;
        display: block;
        box-sizing: border-box;
        padding-left: 3px;
        margin: 12px 0px;
      }
      &_price {
        width: 100%;
        padding-left: 7px;
        box-sizing: border-box;
        float: left;
        &_net {
          float: left;
          font: 9px/14px Verdana;
          letter-spacing: -0.2px;
          span {
            font: 12px/14px Arial;
            color: #023d98;
            text-decoration: underline;
          }
          i {
            font: 9px/14px 'Georgia-BoldItalic';
            color: #662211;
          }
        }
        &_hollow {
          float: right;
          font: 9px/14px Verdana;
          letter-spacing: -0.3px;
          span {
            font: 12px/14px Arial;
            color: #023d98;
            text-decoration: underline;
          }
          i {
            font: 11px/14px 'Georgia-BoldItalic';
            color: #662211;
          }
        }
      }
    }
  }
}

.price_block {
  position: absolute;
  width: 57.35%;
  min-height: 310px;
  background: #FFFFFF;
  border: 1px solid #044654;
  -webkit-box-shadow: -2px 3px 18px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -2px 3px 18px 0px rgba(0, 0, 0, 0.2);
  box-shadow: -2px 3px 18px 0px rgba(0, 0, 0, 0.2);
  z-index: 9;
  padding: 0px 21px;
  box-sizing: border-box;
  display: none;
  .close {
    display: block;
    position: absolute;
    top: -16.5px;
    right: -16.5px;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background: #FFFFFF;
    text-align: center;
    i {
      display: inline-block;
      width: 15px;
      height: 15px;
      margin-top: 9px;
      background-image: url("../img/sprite_section.png");
      background-position: -85px -192px;
    }
  }
  &_link {
    float: left;
    width: 25.28%;
    &_block {
      width: 100%;
      height: 97px;
      border: 1px solid #004469;
      margin-top: 47px;
      text-align: center;
      display: block;
      box-sizing: border-box;
      img {
        max-width: 100%;
      }
      p {
        font: 12px/18px Verdana;
        font-weight: bold;
        color: #023d98;
        text-decoration: underline;
        letter-spacing: 0.4px;
        margin-top: 14px;
      }
      &:hover {
        p{
          color: #620909;
        }
      }
   }
    &_retail {
      display: block;
      img {
        margin-top: -27px;
      }
    }
    &_gross {
      display: block;
      img {
        margin-top: -36px;
      }
      p {
        margin-top: 5px;
      }
    }
  }
  &_img_line {
    width: 45.9%;
    height: 310px;
    overflow: hidden;
    float: left;
  }
  &_img_tabl {
    float: left;
    width: 100%;
    height: 310px;
    overflow: hidden;
    display: table;
  }
  &_img_block {
    width: 100%;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    height: 310px;
    overflow: hidden;
    img {
      max-width: 100%;
      display: none;

    }
    .action {
      display: inline-block;
    }
  }
  &_nav {
    float: left;
    width: 28.82%;
    margin-top: 22px;
    ul {
      width: 100%;
      li {
        margin-bottom: 9px;
        width: 100%;
        float: left;
        a {
          font: 11px/25px Verdana;
          color: #023d98;
          text-decoration: underline;
          display: block;
          padding: 0px 8px;
          background: #f2f2f2;
          border: 1px solid #d7d7d7;
          float: left;
          box-sizing: border-box;
          &:hover {
            color: #620909;
            border-color: #620909;
          }
        }
        .activ {
          color: #620909;
          border-color: #620909;
        }
      }
    }
  }
}

.multi_block {
  position: absolute;
  width: 69.74%;
  min-width: 816px;
  min-height: 299px;
  top: 0px;
  left: 0px;
  display: none;
  background: url("../img/multi_fon.jpg") center top no-repeat;
  background-size: cover;
  z-index: 9;
  border: 1px solid #014366;
  -webkit-box-shadow: -2px 3px 18px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -2px 3px 18px 0px rgba(0, 0, 0, 0.2);
  box-shadow: -2px 3px 18px 0px rgba(0, 0, 0, 0.2);
  padding-left: 3.3%;
  box-sizing: border-box;
  .close {
    display: block;
    position: absolute;
    top: -16.5px;
    right: -16.5px;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background: #FFFFFF;
    text-align: center;
    i {
      display: inline-block;
      width: 15px;
      height: 15px;
      margin-top: 9px;
      background-image: url("../img/sprite_section.png");
      background-position: -85px -192px;
    }
  }
  @media(max-width: 1175px) {
    right: 0px;
  }
  @media(max-width: 816px) {
    min-width: 0px;
    width: 100%;
  }
  &_box {
    float: left;
    width: 29.9%;
    margin-right: 3.43%;

    &_zag {
      float: left;
      font: 12px/37px Verdana;
      font-weight: bold;
      text-decoration: underline;
      text-transform: uppercase;
      width: 100%;
      background: rgba(241, 240, 221, 0.75);
      color: #023d98;
      text-align: center;
      margin-top: 44px;
      border: 1px solid #7696bd;
      &:hover {
        color: #840000;
        border-color: #840000;
        background: rgba(241, 240, 221, 0.9);
      }
    }
    &_link_power {
      width: 100%;
      margin-top: 14px;
      float: left;
      min-height: 74px;
      a {
        font: 10px/28px Verdana;
        display: block;
        font-weight: bold;
        border: 1px solid #7696bd;
        padding: 0px 10px;
        float: left;
        background: rgba(241, 240, 221, 0.75);
        margin-bottom: 7px;
        color: #023d98;
        text-decoration: underline;
        &:nth-child(even) {
          float: right;
        }
        &:hover {
          color: #840000;
          border-color: #840000;
          background: rgba(241, 240, 221, 0.9);
        }
        @media(max-width: 776px) {
          float: none;
          width: 50%;
          padding: 0px;
          text-align: center;
          margin-left: auto;
          margin-right: auto;
          &:nth-child(even) {
            float: none;
          }
        }
      }
    }
    &_link_kategories {
      width: 100%;
      margin-top: 33px;
      float: left;
      a {
        font: 10px/28px Verdana;
        display: block;
        font-weight: bold;
        border: 1px solid #7696bd;
        padding-left: 10px;
        width: 48.4%;
        box-sizing: border-box;
        float: left;
        background: rgba(241, 240, 221, 0.75);
        margin-bottom: 7px;
        color: #023d98;
        text-decoration: underline;
        &:nth-child(even) {
          float: right;
        }
        &:hover {
          color: #840000;
          border-color: #840000;
          background: rgba(241, 240, 221, 0.9);
        }
      }
    }
  }
  &_roof {
    background: url("../img/roof.png") center 23px no-repeat;
  }
  &_kaseta {
    .multi_block_box_link_power {
      a {
        padding-left: 10px;
        width: 48.4%;
        box-sizing: border-box;
        padding-right: 0px;
      }
    }
    &_washing {
      width: 100%;
      float: left;
      margin-top: 33px;
      background: rgba(241, 240, 221, 0.75);
      border: 1px solid #7696bd;
      min-height: 67px;
      box-sizing: border-box;
      &:hover {
        background: rgba(241, 240, 221, 0.9);
        border-color: #840000;
        a {
          color: #840000;
        }
      }
      img {
        float: left;
        margin-top: -20px;
        margin-left: 12px;
        margin-right: 10px;
      }
      a {
        float: left;
        font: 10px/18px Verdana;
        font-weight: bold;
        text-decoration: underline;
        color: #023d98;
        margin-top: 4px;
        span {
          display: block;
          font-weight: bold;
        }
      }
    }
  }
  &_multi {
    background: url("../img/multi.png") center 26px no-repeat;
    &_kalcul {
      width: 100%;
      float: left;
      margin-top: 33px;
      background: rgba(241, 240, 221, 0.75);
      border: 1px solid #7696bd;
      min-height: 67px;
      box-sizing: border-box;
      img {
        float: left;
        margin-top: -6px;
        margin-left: 12px;
        margin-right: 11px;
      }
      a {
        float: left;
        font: 10px/18px Verdana;
        font-weight: bold;
        text-decoration: underline;
        color: #023d98;
        margin-top: 4px;
        span {
          display: block;
          font-weight: bold;
        }
      }
      &:hover {
        background: rgba(241, 240, 221, 0.9);
        border-color: #840000;
        a {
          color: #840000;
        }
      }
    }
  }

}
.foto_block{
  position: absolute;
  top: 0;
  left: 0;
  max-width: 700px !important;
  background: #FFFFFF;
  border: 1px solid #014366;
  -webkit-box-shadow: -2px 3px 18px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -2px 3px 18px 0px rgba(0, 0, 0, 0.2);
  box-shadow: -2px 3px 18px 0px rgba(0, 0, 0, 0.2);
  padding: 18px;
  box-sizing: border-box;
  z-index: 99999;
  display: none;
  img{
    width: 100%;
    max-width: 700px;
  }
.close_foto{
  display: block;
  position: absolute;
  top: -16.5px;
  right: -16.5px;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  background: #FFFFFF;
  text-align: center;
  z-index: 999;
i{
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-top: 9px;
  background-image: url("../img/sprite_section.png");
  background-position: -85px -192px;
}
}
}

.services_block {
  position: absolute;
  top: 0;
  left: 0;
  width: 68.37%;
  min-width: 800px;
  height: 310px;
  overflow: hidden;
  background: #FFFFFF;
  border: 1px solid #014366;
  -webkit-box-shadow: -2px 3px 18px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -2px 3px 18px 0px rgba(0, 0, 0, 0.2);
  box-shadow: -2px 3px 18px 0px rgba(0, 0, 0, 0.2);
  padding-left: 1.7%;
  box-sizing: border-box;
  display: none;
  z-index: 9;
  .close {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background: #FFFFFF;
    text-align: center;
    i {
      display: inline-block;
      width: 15px;
      height: 15px;
      margin-top: 9px;
      background-image: url("../img/sprite_section.png");
      background-position: -85px -192px;
    }
  }
  @media (max-width: 800px) {
    min-width: 0;
    width: 100%;

  }
  &_box {
    float: left;
  }
  &_link_box {
    width: 28.6%;
    padding-top: 7px;
    float: left;
    &_block {
      width: 100%;
      border: 1px solid #004469;
      box-sizing: border-box;
      text-align: center;
      padding-left: 12px;
      box-sizing: border-box;
      margin-top: 38px;
      &_img_line {
        width: 100%;
        float: left;
        text-align: center;

      }
      a {
        float: left;
        width: 100%;
        text-align: left;
        font: 12px/13px Verdana;
        font-weight: bold;
        color: #023d98;
        margin-top: 10px;

        span {
          display: block;
          b {
            text-decoration: underline;
            font-weight: bold;
          }
        }
        i {
          font: 11px/13px Verdana;
          font-style: italic;
          color: #7f7f7f;
        }

      }
    }
    &_price {
      display: block;
      min-height: 126px;
      &:hover{
        a{
          color: #620909;
        }
      }
      img {
        margin-top: -24px;
      }
    }
    &_spec {
      display: block;
      min-height: 77px;
      img {
        margin-top: -25px;
      }
    }
  }
  &_img_table {
    width: 38.25%;
    display: table;
    float: left;
  }
  &_img_wrap {
    width: 100%;
    height: 310px;
    overflow: hidden;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    img {
      display: inline-block;
      max-width: 100%;
      display: none;
    }
    .action {
      display: inline-block;
    }
  }
  &_nav {
    width: 28.25%;
    float: left;
    padding-top: 18px;
    @media(max-width: 762px) {
      width: 33%;
    }
    ul {
      float: left;
      width: 100%;
      .activ {
        border-color: #620909;
        a {
          color: #620909;
        }
      }
      li {
        min-height: 52px;
        background: #f2f2f2;
        border: 1px solid #d7d7d7;
        padding-left: 9px;
        box-sizing: border-box;
        margin-bottom: 3px;
        a {
          font: 12px/13px Verdana;
          color: #023d98;
          b {
            text-decoration: underline;
          }
          span {
            font-style: italic;
            font-size: 11px;
            color: #7f7f7f;

          }
        }
        .price {
          display: block;
          width: 100%;
          font: 13px/12px Arial;
          font-weight: bold;
          color: #c60000;
          span {
            font: 11px/12px Verdana;
            color: #7f7f7f;
          }
          i {
            font: 11px/12px 'Georgia-BoldItalic';
            color: #650707;
          }
        }

      }
    }
  }
}

.question_block {
  width: 76.83%;
  min-width: 899px;
  min-height: 308px;
  position: absolute;
  top: 0px;
  left: 0px;
  background: url("../img/question_fon.jpg") center top no-repeat;
  z-index: 9;
  border: 1px solid #044654;
  -webkit-box-shadow: -2px 3px 18px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -2px 3px 18px 0px rgba(0, 0, 0, 0.2);
  box-shadow: -2px 3px 18px 0px rgba(0, 0, 0, 0.2);
  display: none;
  .close {
    display: block;
    position: absolute;
    top: -16.5px;
    right: -16.5px;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background: #FFFFFF;
    text-align: center;
    i {
      display: inline-block;
      width: 15px;
      height: 15px;
      margin-top: 9px;
      background-image: url("../img/sprite_section.png");
      background-position: -85px -192px;
    }
  }
  @media(max-width: 1170px) {
    left: auto;
    right: 0px;
  }
  @media(max-width: 899px) {
    min-width: 0px;
    width: 100%;
  }
  &_link {
    position: absolute;
    top: 8px;
    left: 16%;
    width: 362px;
    height: 64px;
    background-image: url("../img/sprite_header.png");
    background-position: 0px 0px;
    text-align: right;
    a {
      font: 15px/36px Verdana;
      font-weight: bold;
      color: #023d98;
      text-align: right;
      display: inline-block;
      margin-right: 8%;
      text-decoration: underline;
      &:hover{
        color: #620909;
      }
    }
  }
  &_slider_wrap {
    width: 533px;
    height: 231px;
    float: right;
    margin-right: 23px;
    margin-top: 53px;
    background: #FFFFFF;
    padding: 3px;
    box-sizing: border-box;
    position: relative;
    &_slider_block {
      width: 100%;
      height: 100%;
      border: 1px solid #044654;
      box-sizing: border-box;

      .slide {
        width: 527px;
        height: 225px;

        &_text {
          float: right;
          width: 54.8%;
          a {
            font: 15px/26px Verdana;
            font-weight: bold;
            color: #074e23;
            margin-top: 55px;
            display: block;
            float: left;
            padding: 0px 10px;
            &:hover{
              color: #620909;
              outline: 1px solid #620909;
              text-shadow: -2px -2px 5px rgba(75, 75, 75, 1);

            }
            span {
              display: block;
              font-weight: bold;
            }
          }
        }

      }
      .slide1 {
        background: url("../img/slide1.jpg") center top no-repeat;
      }
      .slide2 {
        background: url("../img/slide2.jpg") center top no-repeat;
        a{
          margin-top: 85px;
        }
      }
      .slide3 {
        background: url("../img/slide3.jpg") center top no-repeat;
      }
      .slide4 {
        background: url("../img/slide4.jpg") center top no-repeat;
        a{
          margin-top: 35px;
        }
      }
      .slide5 {
        background: url("../img/slide5.jpg") center top no-repeat;
        a{
          margin-top: 85px;
        }
      }
      .slide6 {
        background: url("../img/slide6.jpg") center top no-repeat;
        a{
          margin-top: 85px;
        }
      }
      .slide7 {
        background: url("../img/slide7.jpg") center top no-repeat;
        a{
          margin-top: 70px;
        }
      }
      .slide8 {
        background: url("../img/slide8.jpg") center top no-repeat;
        a{
          margin-top: 85px;
        }
      }

    }
  }

}
.enter_block{
  position: absolute;
  width: 100%;
  max-width: 1160px;
  min-height: 426px;
  background: #ffffff;
  -webkit-box-shadow: 0px -3px 10px 0px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px -3px 10px 0px rgba(0, 0, 0, 0.24);
  box-shadow: 0px -3px 10px 0px rgba(0, 0, 0, 0.24);
  z-index: 99;
  display: none;
  .close {
    display: block;
    position: absolute;
    top: -16.5px;
    right: -16.5px;
    width: 33px;
    height: 33px;
    @include radius(50%);
    background: #FFFFFF;
    text-align: center;
    i {
      display: inline-block;
      width: 15px;
      height: 15px;
      margin-top: 9px;
      background-image: url("../img/sprite_section.png");
      background-position: -85px -192px;
    }
  }
  &_zag{
    width: 100%;
    font: 28px/96px 'robotoregular';
    color: #243739;
    float: left;
  }
  &_enter{
    float: left;
    width: 37.1%;
    padding-left: 3.4%;
    padding-right: 2.8%;
    box-sizing: border-box;
    @media(max-width: 688px){
      width: 100%;
      margin-bottom: 20px;
    }
    &_form{
      float: left;
      width: 100%;
      input{
        width: 100%;
        height:46px;
        font: 14px/20px 'Roboto-Medium';
        margin-bottom: 10px;
        border: 1px solid #3b6e8b;
        @include radius(4px);
        padding-left: 46px;
        box-sizing: border-box;
      }
      .meil{
        background: url("../img/meil.png") left center no-repeat;
      }
      .password{
        background: url("../img/look.png") left center no-repeat;
        margin-bottom: 0px;
      }
      .recall{
        float: left;
        width: 100%;
        font: 11px/30px 'robotobold';
        text-align: right;
        text-decoration: underline;
        color: #003c95;
        &:hover{
          color: #620909;
        }
      }
      .submit{
        float: left;
        width: 100%;
        height: 44px;
        font: 18px/42px 'robotobold';
        text-transform: uppercase;
        text-align: center;
        color: #024753;
        border: 1px solid #e3e3e3;
        opacity: 0.5;
        pointer-events: none;
        @include radius(4px);
        &:hover{
          color: #620909;
          border-color: #003c95;
          span{
            background: none;
          }
        }
        span{
          background: url("../img/dotted.png") left bottom repeat-x;
        }
      }
      .activ{
        opacity:1;
        pointer-events: auto;
      }
    }
    .or{
      width: 100%;
      margin-top: 9px;
      font: 18px/47px 'robotobold';
      text-transform: uppercase;
      text-align: center;
      color: #c0c0c0;
    }
    &_soc_line {
      float: left;
      width: 100%;
      p {
        float: left;
        width: 100%;
        font: 15px/20px 'robotoregular';
        text-align: center;
      }
      &_block {
        width: 100%;
        float: left;
        text-align: center;
        margin-top: 10px;
        a {
          display: inline-block;
          @include radius(50%);
          width: 47px;
          height: 47px;
          margin-right: 10px;
          &:nth-last-child(1) {
            margin-right: 0px;
          }
        }
        .soc1 {
          background-image: url("../img/sprite_section.png");
          background-position: -241px 0px;
        }
        .soc2 {
          background-image: url("../img/sprite_section.png");
          background-position: -241px -47px;
        }
        .soc3 {
          background-image: url("../img/sprite_section.png");
          background-position: -241px -94px;
        }
        .soc4 {
          background-image: url("../img/sprite_section.png");
          background-position: -241px -141px;
          -webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.08);
          -moz-box-shadow:    0px 3px 7px 0px rgba(0, 0, 0, 0.08);
          box-shadow:         0px 3px 7px 0px rgba(0, 0, 0, 0.08);
        }
        .soc5 {
          background-image: url("../img/sprite_section.png");
          background-position: 0px -210px;
        }
      }
    }
  }
  &_reg{
    float: left;
    width: 62.9%;
    min-height: 426px;
    background: url("../img/reg.jpg") center top no-repeat;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.21);
    -moz-box-shadow:    0px 0px 5px 0px rgba(0, 0, 0, 0.21);
    box-shadow:         0px 0px 5px 0px rgba(0, 0, 0, 0.21);
    padding-left: 2.93%;
    padding-right: 2.8%;
    background-size: cover;
    box-sizing: border-box;
    @media(max-width: 688px){
      width: 100%;
    }
    &_form{
      width: 100%;
      &_info{
        float: left;
        width: 100%;
        input{
          width: 48%;
          height:46px;
          float: left;
          font: 14px/20px 'Roboto-Medium';
          margin-bottom: 10px;
          border: 1px solid #3b6e8b;
          @include radius(4px);
          padding-left: 46px;
          box-sizing: border-box;
          margin-bottom: 10px;
          &:nth-child(even){
            float: right;
          }
       }
        .name{
          background:url("../img/piple.jpg") 17px center no-repeat,url("../img/star.jpg") right top no-repeat,#FFFFFF;
        }
        .patronymic{
          background:url("../img/piple.jpg") 17px center no-repeat,#FFFFFF;
        }
        .tel{
          background:url("../img/tel.jpg") 17px center no-repeat,url("../img/star.jpg") right top no-repeat,#FFFFFF;
        }
        .emeil{
          background:url("../img/meil.png") left top no-repeat,url("../img/star.jpg") right top no-repeat,#FFFFFF;
        }
      }
      &_password{
        float: left;
        width: 100%;
        &_zag{
          float: left;
          width: 100%;
          font: 14px/30px 'robotoregular';
          text-align: center;
          margin-bottom: 8px;
        }
        input{
          width: 48%;
          height:46px;
          float: left;
          font: 14px/20px 'Roboto-Medium';
          margin-bottom: 10px;
          border: 1px solid #3b6e8b;
          @include radius(4px);
          padding-left: 46px;
          box-sizing: border-box;
          margin-bottom: 10px;
          background:url("../img/look.png") left top no-repeat,url("../img/star.jpg") right top no-repeat,#FFFFFF;
          &:nth-child(even){
            float: right;
          }
        }
      }
      &_chek_line{
        width: 100%;
        float: left;
        margin-top: 8px;
        margin-bottom: 18px;
        .check_form {
          float: left;
          width: 26px;
          height: 26px;
          border: 1px solid #024753;
          border-radius: 4px;
          -moz-border-radius: 4px;
          -webkit-border-radius: 4px;
          text-align: center;
          margin-right: 12px;
          span {
            display: inline-block;
            width: 17px;
            height: 16px;
            margin-top: 4px;
          }
        }
        .activ{
          span {
            background-image: url("../img/sprite_section.png");
            background-position: -34px -192px;
          }
        }
        p{
          float: left;
          font: 11px/15px 'robotoregular';
          color: #272727;
          width: 94%;

        }
      }

      .submit {
        clear: both;
        width: 100%;
        max-width: 324px;
        height: 44px;
        margin: 0 auto;
        font: 18px/42px 'robotobold';
        text-transform: uppercase;
        text-align: center;
        color: #024753;
        border: 1px solid #e3e3e3;
        border-top-color: rgb(227, 227, 227);
        border-right-color: rgb(227, 227, 227);
        border-bottom-color: rgb(227, 227, 227);
        border-left-color: rgb(227, 227, 227);
        margin-bottom: 20px;
       @include radius(4px);
        background: #FFFFFF;
        display: block;
        opacity: 0.5;
        pointer-events: none;

        span {
          background: url("../img/dotted.png") left bottom repeat-x;
        }
        &:hover {
          color: #620909;
          border-color: #003c95;
        }
      }
      .activ{
        pointer-events: auto;
        opacity: 1;
      }
    }
  }
}
.thenk_block{
  position: absolute;
  top:0px;
  left:0px;
  width: 100%;
  max-width: 1029px;
  min-height: 435px;
  background: url("../img/thenk.jpg") right top no-repeat #FFFFFF;
  z-index: 99;
  padding-left: 28px;
  box-sizing: border-box;
  display: none;

  .close {
    display: block;
    position: absolute;
    top: -16.5px;
    right: -16.5px;
    width: 33px;
    height: 33px;
    @include radius(50%);
    background: #FFFFFF;
    text-align: center;
    i {
      display: inline-block;
      width: 15px;
      height: 15px;
      margin-top: 9px;
      background-image: url("../img/sprite_section.png");
      background-position: -85px -192px;
    }
  }
  &__adres{
    float: left;
    width: 100%;
    margin-top: 25px;
    padding-left: 60px;
    box-sizing: border-box;
    p{
      font:16px/18px 'robotobold';
      color: #393939;
      float: left;
      letter-spacing: 0.3px;
    }
    a{
      font: 15px/18px 'Roboto-Medium';
      text-decoration: underline;
      color: #003c95;
      float: left;
      margin-left: 30px;
      i{
        float: left;
        margin-right: 12px;
        width: 13px;
        height: 18px;
        background-image: url("../img/marker.png");
        background-position: center;
      }
    }
  }
  &_logo{
    float: left;
    width: 100%;
    margin-top: 10px;
   a{
     float: left;
     img{
       float: left;
       max-width: 100%;
     }
     p{
       float: left;
       width: 100%;
       font:24px/24px 'robotobold';
       color: #393939;
       margin-top: 15px;
       letter-spacing: 0.9px;
     }
   }
  }
  &_thenk_box{
    width: 100%;
    float: left;
    padding-left: 194.5px;
    box-sizing: border-box;
    background: url("../img/logo2.png") left center no-repeat;
    font-family:  'robotoBlack';
    color: #393939;
    min-height: 164px;
    h3{
      font-size: 42px;
      line-height: 42px;
      margin-top: 70px;
    }
    p{
      font-size: 18px;
      line-height: 28px;
      letter-spacing: -0.2px;
      margin-top: 5px;
      span{
        color: #990000;
      }
    }
  }
  &_footer{
    float: left;
    width: 100%;
    margin-top: 28px;
    padding-right: 29px;
    box-sizing: border-box;
    letter-spacing: 0.65px;
    a{
      float: left;
      padding-left: 26px;
      background: url("../img/tel.jpg") left center no-repeat;
      font:  15px/16px 'Roboto-Medium';
      text-decoration: underline;
      color: #003c95;
      &:hover{
        color: #620909;
      }
    }
    p{
      float: right;
      font:  18px/16px 'Roboto-Medium';
      span{
        color: #990000;
      }
    }
  }
}
/********************Комментарии**********************************************************/
@import "comment";
/*****************************************************************************************/
/**********************************Боковая панель******************************************/
@import "black_panel";
/*********************************************************************************************/

/*********************Стили модальных окон окончание*********************************************/
.modal_fon {
  width: 100%;
  height: 100%;
  max-height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 99;
  display: none;
  .modal_wrap{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
  }


}