@mixin radius($r) {
  border-radius: $r;
  -moz-border-radius: $r;
  -webkit-border-radius: $r;
}

.monufactur_bkock {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 100%;
  z-index: 999;
  -webkit-box-shadow: 0px -3px 10px 0px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px -3px 10px 0px rgba(0, 0, 0, 0.24);
  box-shadow: 0px -3px 10px 0px rgba(0, 0, 0, 0.24);
  max-width: 716px;
  .autor, .data, .section {
    display: none;
  }
  .descript_wrap{
    width: 100%;
    overflow: hidden;

  }
  .close {
    display: block;
    position: absolute;
    top: -16.5px;
    right: -16.5px;
    width: 33px;
    height: 33px;
    @include radius(50%);
    background: #FFFFFF;
    text-align: center;
    i {
      display: inline-block;
      width: 15px;
      height: 15px;
      margin-top: 9px;
      background-image: url("../img/sprite_section.png");
      background-position: -85px -192px;
    }
  }
}

.midea {
  max-width: 716px;
  min-height: 569px;
 background: url('../img/sprite_section.png') -0 -1222px;
  padding-top: 25px;
  padding-right: 20px;
  box-sizing: border-box;
  display: none;
  @media(max-width: 458px) {
    padding: 0px;
  }
  &_text {
    float: right;
    width: 50.95%;
    @media(max-width: 622px) {
      width: 70%;
    }
    @media(max-width: 458px) {
      width: 100%;
    }
    .adres{
      font-size: 14px;
      line-height:16px ;
    }
    &_info {
      width: 100%;
      background: #dbe8ce;
      border: 2px solid #ced3ce;
      font: 16px/24px Verdana;
      color: #7a8075;
      margin-bottom: 19px;
      padding-left: 15px;
      padding-right: 14px;
      box-sizing: border-box;

      span {
        font-weight: bold;
        color: #010101;
      }
    }
.descript_wrap{
  height: 284px;
  position: relative;
}
    &_text {
      width: 100%;
      background: #dbe8ce;
      border: 2px solid #ced3ce;
      font: 14px/20px Verdana;
      color: #7a8075;
      padding-left: 15px;
      padding-right: 14px;
      box-sizing: border-box;
    }
  }
}
.kelon {
  max-width: 716px;
  min-height: 569px;
  background: url('../img/sprite_section.png') -716px -653px;
  padding-top: 25px;
  padding-right: 20px;
  box-sizing: border-box;
  display: none;
  @media(max-width: 458px) {
    padding: 0px;
  }
  &_text {
    float: right;
    width: 50.95%;
    @media(max-width: 622px) {
      width: 70%;
    }
    @media(max-width: 458px) {
      width: 100%;
    }
    &_info {
      width: 100%;
      background: #dbe8ce;
      border: 2px solid #ced3ce;
      font: 16px/24px Verdana;
      color: #7a8075;
      margin-bottom: 19px;
      padding-left: 15px;
      padding-right: 14px;
      box-sizing: border-box;

      span {
        font-weight: bold;
        color: #010101;
      }
    }
    .descript_wrap{
      height: 284px;
      position: relative;
    }
    &_text {
      width: 100%;
      background: #dbe8ce;
      border: 2px solid #ced3ce;
      font: 14px/20px Verdana;
      color: #7a8075;
      padding-left: 15px;
      padding-right: 14px;
      box-sizing: border-box;
    }
  }
}

.aux {
  padding: 21px;
  padding-left: 23px;
  box-sizing: border-box;
  background: #FFFFFF;
  display: none;
  &_img {
    width: 100%;
    margin-bottom: 20px;
    overflow: hidden;
    .img {
      float: left;
      width: 49.25%;
      .bg-aux1 {
        display: inline-block;
        width: 331px; height: 233px;
        background: url('../img/sprite_section.png') -1833px -183px;
      }
      .bg-aux2 {
        display: inline-block;
        width: 331px; height: 233px;
        background: url('../img/sprite_section.png') -2164px -183px;
      }
      @media(max-width: 398px) {
        width: 100%;
        margin-bottom: 5px;
      }
      &:nth-child(even) {
        float: right;
      }
    }
  }
  &_info_line {
    width: 100%;
    p {
      float: left;
      width: 49.25%;
      background: #dbe8ce;
      border: 2px solid #ced3ce;
      font: 14px/24px Verdana;
      letter-spacing: -0.6px;
      color: #7a8075;
      margin-bottom: 19px;
      padding-left: 15px;
      padding-right: 14px;
      box-sizing: border-box;
      @media(max-width: 398px) {
        width: 100%;
        margin-bottom: 5px;
      }
      span {
        font-weight: bold;
        color: #010101;
      }
      &:nth-child(even) {
        float: right;
      }
    }
  }
  .descript_wrap{
    height: 123px;
  }
  &_text {
    width: 100%;
    background: #dbe8ce;
    border: 2px solid #ced3ce;
    font: 14px/20px Verdana;
    color: #7a8075;
    padding-left: 15px;
    padding-right: 14px;
    box-sizing: border-box;
    clear: both;
  }
}

.chigo {
  padding: 21px;
  padding-left: 23px;
  box-sizing: border-box;
  background: #FFFFFF;
  display: none;
  &_img {
    width: 100%;
    margin-bottom: 20px;
    overflow: hidden;
    .img {
      float: left;
      width: 49.25%;
      .bg-chigo1 {
        display: inline-block;
        width: 332px; height: 179px;
        background: url('../img/sprite_section.png') -2166px -416px;
      }
      .bg-chigo2 {
        display: inline-block;
        width: 333px; height: 179px;
        background: url('../img/sprite_section.png') -1833px -416px;
      }
      @media(max-width: 398px) {
        width: 100%;
        margin-bottom: 5px;
      }
      &:nth-child(even) {
        float: right;
      }
    }
  }
  &_info_line {
    width: 100%;
    p {
      float: left;
      width: 49.25%;
      background: #dbe8ce;
      border: 2px solid #ced3ce;
      font: 14px/24px Verdana;
      letter-spacing: -0.6px;
      color: #7a8075;
      margin-bottom: 19px;
      padding-left: 15px;
      padding-right: 14px;
      box-sizing: border-box;
      @media(max-width: 398px) {
        width: 100%;
        margin-bottom: 5px;
      }
      span {
        font-weight: bold;
        color: #010101;
      }
      &:nth-child(even) {
        float: right;
      }
    }
  }
  .descript_wrap{
    height: 123px;
  }
  &_text {
    width: 100%;
    background: #dbe8ce;
    border: 2px solid #ced3ce;
    font: 14px/20px Verdana;
    color: #7a8075;
    padding-left: 15px;
    padding-right: 14px;
    box-sizing: border-box;
    clear: both;
  }
}

.galanz {
  max-width: 716px;
  min-height: 569px;
  background: url("../img/galanz.jpg") center top;
  padding-top: 25px;
  padding-right: 20px;
  box-sizing: border-box;
  display: none;
  @media(max-width: 458px) {
    padding: 0px;
  }
  &_text {
    float: right;
    width: 45%;
    @media(max-width: 622px) {
      width: 70%;
    }
    @media(max-width: 458px) {
      width: 100%;
    }
    &_info {
      width: 100%;
      background: #dbe8ce;
      border: 2px solid #ced3ce;
      font: 16px/24px Verdana;
      color: #7a8075;
      margin-bottom: 19px;
      padding-left: 15px;
      padding-right: 14px;
      box-sizing: border-box;

      span {
        font-weight: bold;
        color: #010101;
      }
    }
    &_text {
      width: 100%;
      background: #dbe8ce;
      border: 2px solid #ced3ce;
      font: 14px/20px Verdana;
      color: #7a8075;
      padding-left: 15px;
      padding-right: 14px;
      box-sizing: border-box;
    }
  }
}

.gree {
  padding: 21px;
  padding-left: 23px;
  box-sizing: border-box;
  background: #FFFFFF;
  display: none;
  &_img {
    width: 673px; height: 263px;
    background: url('../img/sprite_section.png') -716px -1222px;
    margin-bottom: 20px;
    overflow: hidden;

  }
  &_info_line {
    width: 100%;
    p {
      float: left;
      width: 49.25%;
      background: #dbe8ce;
      border: 2px solid #ced3ce;
      font: 16px/24px Verdana;
      color: #7a8075;
      margin-bottom: 19px;
      padding-left: 15px;
      padding-right: 14px;
      box-sizing: border-box;
      min-height: 76px;
      @media(max-width: 398px) {
        width: 100%;
        margin-bottom: 5px;
      }
      span {
        font-weight: bold;
        color: #010101;
      }
      &:nth-child(even) {
        float: right;
      }
    }
  }
  .descript_wrap{
    height: 123px;
  }
  &_text {
    width: 100%;
    background: #dbe8ce;
    border: 2px solid #ced3ce;
    font: 14px/20px Verdana;
    color: #7a8075;
    padding-left: 15px;
    padding-right: 14px;
    box-sizing: border-box;
    clear: both;
  }
}

.haier {
  max-width: 716px;
  min-height: 569px;
  background: url('../img/sprite_section.png') -0 -653px;
  padding-top: 25px;
  padding-right: 20px;
  box-sizing: border-box;
  display: none;
  @media(max-width: 458px) {
    padding: 0px;
  }
  &_text {
    float: right;
    width: 45%;
    @media(max-width: 622px) {
      width: 70%;
    }
    @media(max-width: 458px) {
      width: 100%;
    }
    &_info {
      width: 100%;
      background: #dbe8ce;
      border: 2px solid #ced3ce;
      font: 14px/24px Verdana;
      letter-spacing: -0.6px;
      color: #7a8075;
      margin-bottom: 19px;
      padding-left: 15px;
      padding-right: 14px;
      box-sizing: border-box;

      span {
        font-weight: bold;
        color: #010101;
      }
    }
    &_text {
      width: 100%;
      background: #dbe8ce;
      border: 2px solid #ced3ce;
      font: 14px/20px Verdana;
      color: #7a8075;
      padding-left: 15px;
      padding-right: 14px;
      box-sizing: border-box;
    }
  }
  .descript_wrap{
    height: 280px;
  }
}

.hisense {
  padding: 21px;
  padding-left: 23px;
  box-sizing: border-box;
  background: #FFFFFF;
  display: none;
  &_img {
    width: 673px; height: 183px;
    background: url('../img/sprite_section.png') -716px -1485px;
    margin-bottom: 20px;
    overflow: hidden;

  }
  .adres{
    line-height: 14px;
    font-size: 12px;
  }
  &_info_line {
    width: 100%;
    p {
      float: left;
      width: 49.25%;
      background: #dbe8ce;
      border: 2px solid #ced3ce;
      font: 14px/24px Verdana;
      letter-spacing: -0.6px;
      color: #7a8075;
      margin-bottom: 19px;
      padding-left: 15px;
      padding-right: 14px;
      box-sizing: border-box;
      min-height: 88px;
      @media(max-width: 398px) {
        width: 100%;
        margin-bottom: 5px;
      }
      span {
        font-weight: bold;
        color: #010101;
      }
      &:nth-child(even) {
        float: right;
      }
    }
  }
  .descript_wrap{
    height: 123px;
  }
  &_text {
    width: 100%;
    background: #dbe8ce;
    border: 2px solid #ced3ce;
    font: 14px/20px Verdana;
    color: #7a8075;
    padding-left: 15px;
    padding-right: 14px;
    box-sizing: border-box;
    clear: both;
  }
}

.mhi {
  padding: 21px;
  padding-left: 23px;
  box-sizing: border-box;
  background: #FFFFFF;
 display: none;
  &_img {
    width: 100%;
    margin-bottom: 20px;
    overflow: hidden;
    img {
      float: left;
      width: 100%;

    }
  }
  &_info_line {
    width: 100%;
    p {
      float: left;
      width: 49.25%;
      background: #dbe8ce;
      border: 2px solid #ced3ce;
      font: 16px/24px Verdana;
      color: #7a8075;
      margin-bottom: 19px;
      padding-left: 15px;
      padding-right: 14px;
      box-sizing: border-box;
      @media(max-width: 398px) {
        width: 100%;
        margin-bottom: 5px;
      }
      span {
        font-weight: bold;
        color: #010101;
      }
      &:nth-child(even) {
        float: right;
      }
    }
  }
  &_text {
    width: 100%;
    background: #dbe8ce;
    border: 2px solid #ced3ce;
    font: 14px/20px Verdana;
    color: #7a8075;
    padding-left: 15px;
    padding-right: 14px;
    box-sizing: border-box;
    clear: both;
  }
}

.micubishi {
  padding: 21px;
  padding-left: 23px;
  box-sizing: border-box;
  background: #FFFFFF;
  display: none;
  &_img {
    width: 100%;
    margin-bottom: 20px;
    overflow: hidden;
    img {
      float: left;
      width: 100%;

    }
  }
  &_info_line {
    width: 100%;
    p {
      float: left;
      width: 49.25%;
      background: #dbe8ce;
      border: 2px solid #ced3ce;
      font: 16px/24px Verdana;
      color: #7a8075;
      margin-bottom: 19px;
      padding-left: 15px;
      padding-right: 14px;
      box-sizing: border-box;
      @media(max-width: 398px) {
        width: 100%;
        margin-bottom: 5px;
      }
      span {
        font-weight: bold;
        color: #010101;
      }
      &:nth-child(even) {
        float: right;
      }
    }
  }
  &_text {
    width: 100%;
    background: #dbe8ce;
    border: 2px solid #ced3ce;
    font: 14px/20px Verdana;
    color: #7a8075;
    padding-left: 15px;
    padding-right: 14px;
    box-sizing: border-box;
    clear: both;
  }
}

.tcl {
  padding: 21px;
  padding-left: 23px;
  box-sizing: border-box;
  background: #FFFFFF;
  display: none;
  .descript_wrap{
    height: 240px;
  }
  &_img {
    width: 100%;
    margin-bottom: 20px;
    overflow: hidden;
    width: 673px; height: 183px;
    background: url('../img/sprite_section.png') -1833px -183px;
  }
  &_info_line {
    width: 100%;
.adres{
  font-size: 14px;
  line-height: 16px;
}
    p {
      float: left;
      width: 49.25%;
      background: #dbe8ce;
      border: 2px solid #ced3ce;
      font: 14px/24px Verdana;
      letter-spacing: -0.6px;
      color: #7a8075;
      margin-bottom: 19px;
      padding-left: 15px;
      padding-right: 14px;
      box-sizing: border-box;
      min-height: 84px;
      @media(max-width: 398px) {
        width: 100%;
        margin-bottom: 5px;
      }
      span {
        font-weight: bold;
        color: #010101;
      }
      &:nth-child(even) {
        float: right;
      }
    }
  }
  &_text {
    width: 100%;
    background: #dbe8ce;
    border: 2px solid #ced3ce;
    font: 14px/20px Verdana;
    color: #7a8075;
    padding-left: 15px;
    padding-right: 14px;
    box-sizing: border-box;
    clear: both;
  }
}

.hitachi {
  padding: 21px;
  padding-left: 23px;
  box-sizing: border-box;
  background: #FFFFFF;
  display: none;
  &_img {
    width: 100%;
    margin-bottom: 20px;
    overflow: hidden;
    img {
      float: left;
      width: 100%;

    }
  }
  &_info_line {
    width: 100%;
    p {
      float: left;
      width: 49.25%;
      background: #dbe8ce;
      border: 2px solid #ced3ce;
      font: 16px/24px Verdana;
      color: #7a8075;
      margin-bottom: 19px;
      padding-left: 15px;
      padding-right: 14px;
      box-sizing: border-box;
      @media(max-width: 398px) {
        width: 100%;
        margin-bottom: 5px;
      }
      span {
        font-weight: bold;
        color: #010101;
      }
      &:nth-child(even) {
        float: right;
      }
    }
  }
  &_text {
    width: 100%;
    background: #dbe8ce;
    border: 2px solid #ced3ce;
    font: 14px/20px Verdana;
    color: #7a8075;
    padding-left: 15px;
    padding-right: 14px;
    box-sizing: border-box;
    clear: both;
  }
}