@mixin radius($r) { /**/
  border-radius: $r;
  -moz-border-radius: $r;
  -webkit-border-radius: $r;
}

@mixin left_radius($r) {
  border-top-left-radius: $r;
  -moz-border-top-left-radius: $r;
  -webkit-border-top-left-radius: $r;
  border-top-left-radius: $r;
  -moz-border-top-left-radius: $r;
  -webkit-border-top-left-radius: $r;
  border-bottom-left-radius: $r;
  -webkit-border-bottom-left-radius: $r;
  -moz-border-bottom-left-radius: $r;

}

@mixin right_radius($r) {
  border-top-right-radius: $r;
  -moz-border-top-right-radius: $r;
  -webkit-border-top-right-radius: $r;
  border-bottom-right-radius: $r;
  -moz-border-bottom-right-radius: $r;
  -webkit-border-bottom-right-radius: $r;

}

@mixin top_left_radius($r) {
  -moz-border-radius-topleft: $r;
  -webkit-border-top-left-radius: $r;
  border-top-left-radius: $r;
}

@mixin opacity($r) {
  -moz-opacity: $r;
  opacity: $r;
  -khtml-opacity: $r
}

@mixin transit($s) {
  transition: $s;
  -moz-transition: $s;
  -webkit-transition: $s;
  -o-transition: $s;
}

.section {
  width: 100%;
  float: left;

  h1 {
    float: left;
    width: 100%;
    font: 16px/40px Verdana;
    font-weight: bold;
    color: #074e23;
    text-shadow: -1px 3px 5px rgba(75, 75, 75, 0.52);
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    @media(max-width: 538px) {
      line-height: 20px;
    }
  }
  h2 {
    float: left;
    min-height: 49px;
    background-color: #014366;
    font: 16px/49px Verdana;
    font-weight: bold;
    color: #FFFFFF;
    padding-left: 23px;
    box-sizing: border-box;
  }
  &_description_shadow {
    width: 100%;
    min-height: 75px;
    position: relative;
    webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.13);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.13);
    float: left;
    @include radius(5px);
    &:before {
      content: '';
      width: 40%;
      height: 20px;
      left: 10px;
      bottom: 15px;
      -webkit-box-shadow: 0px 10px 13px 0px rgba(0, 0, 0, 0.33);
      -moz-box-shadow: 0px 10px 13px 0px rgba(0, 0, 0, 0.33);
      box-shadow: 0px 10px 13px 0px rgba(0, 0, 0, 0.33);
      display: block;
      position: absolute;
      -moz-transform: rotate(-2deg);
      -webkit-transform: rotate(-2deg);
      -o-transform: rotate(-2deg);
      -ms-transform: rotate(-2deg);
      transform: rotate(-2deg);
    }
    &:after {
      content: '';
      width: 40%;
      height: 20px;
      right: 10px;
      bottom: 15px;
      -webkit-box-shadow: 0px 10px 13px 0px rgba(0, 0, 0, 0.33);
      -moz-box-shadow: 0px 10px 13px 0px rgba(0, 0, 0, 0.33);
      box-shadow: 0px 10px 13px 0px rgba(0, 0, 0, 0.33);
      display: block;
      position: absolute;
      -moz-transform: rotate(2deg);
      -webkit-transform: rotate(2deg);
      -o-transform: rotate(2deg);
      -ms-transform: rotate(2deg);
      transform: rotate(2deg);
    }
    &_text {
      width: 100%;
      min-height: 75px;
      background: #FFFFFF;
      position: relative;
      z-index: 2;
      @include radius(5px);
      padding-left: 1.53%;
      box-sizing: border-box;
      @media(max-width: 900px) {
        padding-left: 0px;
        float: left;
      }
      p {
        float: left;
        width: 100%;
        font: 14px/24px Verdana;
        letter-spacing: -0.05px;
        margin-top: 10px;
        @media(max-width: 900px) {
          text-align: center;
        }
        span {
          display: block;
          @media(max-width: 1084px) {
            display: inline;
          }
        }
      }
    }
  }
  &_product_wrap {
    width: 100%;
    min-height: 3292px;
    background: url("../img/product_fon.jpg") center 80px no-repeat;
    &_slider {
      width: 100%;
      min-height: 433px;
      border: 1px solid #014366;
      background-color: rgba(237, 215, 128, 0.5);
      float: left;
      @include radius(15px);
      -webkit-box-shadow: 0px 13px 16px 0px rgba(0, 0, 0, 0.29);
      -moz-box-shadow: 0px 13px 16px 0px rgba(0, 0, 0, 0.29);
      box-shadow: 0px 13px 16px 0px rgba(0, 0, 0, 0.29);
      margin-top: 33px;
      @include top_left_radius(0px);
      h2 {
        width: 72.99%;
        @media(max-width: 520px) {
          line-height: 20px;
          padding-top: 3px;
        }
      }
      .wrap_slider_block {
        width: 100%;

      }
      &_block {
        width: 96%;
        margin-left: 2%;
        height: 360px;
        position: relative;
        float: left;
        margin-top: 23px;

        /****************************************************************/
        .slide {
          width: 245px;
          height: 100%;
          background: #FFFFFF;
          @include radius(15px);
          background: rgb(255, 255, 255);
          background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 67%, rgba(227, 227, 227, 1) 100%);
          background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 67%, rgba(227, 227, 227, 1) 100%);
          background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 67%, rgba(227, 227, 227, 1) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e3e3e3', GradientType=0);
          border: 1px solid #e77f5f;
          margin: 0px 22.5px;
          -webkit-box-shadow: 0px -3px 7px 0px rgba(0, 0, 0, 0.14);
          -moz-box-shadow: 0px -3px 7px 0px rgba(0, 0, 0, 0.14);
          box-shadow: 0px -3px 7px 0px rgba(0, 0, 0, 0.14);
          padding-left: 15px;
          padding-right: 12px;
          box-sizing: border-box;
          position: relative;
          max-width: 320px;
          z-index: 99;
          @media (max-width: 580px) {
            margin: 0px 18px;
          }
          @media (max-width: 391px) {
            margin: 0px 10px;
          }
          &_zag {
            float: left;
            width: 100%;
            text-align: center;
            font: 13px/16px 'robotobold';
            color: #267fae;
            text-decoration: underline;
            margin-top: 20px;
          }
          &_img_line {
            float: left;
            width: 100%;
            text-align: center;
            margin-top: 20px;
            img {
              max-width: 100%;
              display: inline-block;
            }
          }
          &_minimum_info {
            float: left;
            width: 100%;
            &__area_power {
              float: left;
              width: 100%;
              .area {
                float: left;
                p {
                  display: block;
                  font: 10px/16px 'robotoregular';
                  color: rgba(0, 0, 0, 0.7);
                }
                h4 {
                  display: block;
                  font: 16px/16px 'robotoBlack';
                  color: #662211;
                  margin-top: 3px;
                  span {
                    font: 12px/16px 'Georgia-BoldItalic';
                  }
                }
              }
              .power {
                float: left;
                width: 26px;
                height: 26px;
                font: 17px/26px 'robotoBlack';
                color: #024753;
                border: 1px solid #024753;
                padding-left: 1px;
                @include radius(50%);
                margin-top: 10px;
                margin-left: 17px;
                box-sizing: border-box;
                @media(max-width: 1169px) {
                  float: right;
                }
              }
              .type {
                float: right;
                font: 13px/22px 'robotoregular';
                color: #024753;
                margin-top: 10px;
                @media(max-width: 1169px) {
                  display: none;
                }
                span {
                  display: inline-block;
                  margin-top: 5px;
                  width: 14px;
                  height: 13px;
                  background-image: url("../img/sprite_section.png");
                  background-position: -169px -129px;
                  margin-left: 10px;
                  margin-top: 5px;
                }
              }
            }
            &__name_price {
              width: 100%;
              float: left;
              .logo {
                float: left;
                margin-top: 28px;
                width: 53.81%;
                img {
                  max-width: 100%;
                }
              }
              .price {
                float: right;
                margin-top: 10px;
                width: 45.76%;
                .micro_plice {
                  display: none;
                }
                p {
                  font: 10px/22px 'robotoregular';
                  color: rgba(0, 0, 0, 0.7);
                }
                h4 {
                  font: 19px/16px 'robotoBlack';
                  color: #b41600;
                  span {
                    font: 13px/16px 'Georgia-BoldItalic';
                    color: #662211;
                  }
                }
                h5 {
                  font: 14px/16px 'robotoregular';
                  color: #888888;
                  margin-top: 5px;
                }
              }
            }
          }
          &__all_info {
            position: absolute;
            width: 110%;
            background: #FFFFFF;
            padding-top: 11px;
            top: -1px;
            left: -5%;
            box-sizing: border-box;
            border: 2px solid #beccd9;
            display: none;
            &_header {
              width: 100%;
              float: left;
              padding-left: 14px;
              padding-right: 15px;
              box-sizing: border-box;
              &_best_icon {
                display: block;
                float: left;
                width: 53px;
                height: 53px;
                background-image: url("../img/sprite_section.png");
                background-position: -116px -104px;
                margin-right: 10px;
              }
              &_logo {
                float: left;
                p {
                  font: 11px/18px 'robotobold';
                  color: #3e3e3e;
                  letter-spacing: -0.2px;
                  span {
                    font-family: 'robotoregular';
                    color: #e62c0e;
                  }
                }
                img {
                  display: block;
                }
              }
              &_zag {
                float: left;
                width: 100%;
                font: 15px/20px 'Roboto-BoldItalic';
                color: #267fae;
                margin-top: 10px;
                margin-left: 5px;
                margin-bottom: 11px;
                text-decoration: underline;
              }
            }
            &__price_line {
              float: left;
              width: 100%;
              border-top: 1px solid #beccd9;
              border-bottom: 1px solid #beccd9;
              box-sizing: border-box;
              padding-left: 14px;
              padding-right: 15px;
              &_row {
                float: left;
                width: 100%;

                .name {
                  float: left;
                  width: 53.81%;
                  line-height: 22px;
                }
                .namber {
                  float: left;
                  width: 45.76%;
                }

              }
              .old {
                display: block;
                .name {
                  font: 11px/22px 'robotoregular';
                  color: #7c7c7c;
                }
                .namber {
                  font: 14px/22px 'robotoregular';
                  color: #444444;
                  p {
                    position: relative;
                    float: left;
                    margin-left: 10px;
                    span {
                      position: absolute;
                      top: 0px;
                      left: -4%;
                      width: 108%;
                      height: 11px;
                      border-bottom: 1px solid #ff0000;

                    }
                    i {
                      display: inline-block;
                      width: 7px;
                      height: 11px;
                      background-image: url("../img/sprite_section.png");
                      background-position: -100px -192px;
                      margin-top: 6px;
                      margin-left: 4px;
                    }
                  }
                }

              }
              .new {
                .name {
                  font: 16px/22px 'Roboto-Medium';
                  color: #505050;
                }
                .namber {
                  p {
                    float: left;
                    margin-left: 10px;
                  }
                  font: 20px/22px 'robotoBlack';
                  color: #b41600;
                  i {
                    display: inline-block;
                    width: 8px;
                    height: 10px;
                    margin-top: 8px;
                    margin-left: 4px;
                    background-image: url("../img/sprite_section.png");
                    background-position: -76px -170px
                  }
                }
              }
              .all {
                .name {
                  font: 13px/22px 'robotobold';
                  color: #7c7c7c;
                }
                .namber {
                  p {
                    float: left;
                  }
                  span {
                    float: left;
                    display: inline-block;
                    width: 10px;
                    height: 5px;
                    background-image: url("../img/sprite_section.png");
                    background-position: -144px -96px;
                    margin-top: 10px;
                  }
                  font: 14px/22px 'robotobold';
                  color: #444444;
                  i {
                    display: inline-block;
                    width: 7px;
                    height: 11px;
                    background-image: url("../img/sprite_section.png");
                    background-position: -100px -192px;
                    margin-top: 7px;
                    margin-left: 4px;
                  }
                }
              }
            }
            &_info_line {
              float: left;
              width: 100%;
              border-top: 1px solid #beccd9;

              min-height: 100px;
              &_row {
                width: 100%;
                height: 27px;
                box-sizing: border-box;
                padding-left: 14px;
                padding-right: 15px;
                .name {
                  float: left;
                  width: 53.81%;
                  font: 14px/22px 'robotoregular';
                  color: #424242;
                  p {
                    float: left;
                  }
                  a {
                    float: left;
                    color: #0151bd;
                    text-decoration: underline;
                  }
                }
                .info {
                  float: left;
                  width: 45.76%;
                  padding-left: 6.5px;
                  box-sizing: border-box;
                  .marker {
                    display: inline-block;
                    margin-top: 5px;
                    width: 14px;
                    height: 13px;
                    background-image: url("../img/sprite_section.png");
                    background-position: -169px -129px;
                  }
                  .area {
                    float: left;
                    font: 16px/27px 'robotoBlack';
                    color: #662211;
                    float: left;
                    sup {
                      font-size: 10px;
                      vertical-align: super;
                    }
                  }
                  .power {
                    float: left;
                    width: 26px;
                    height: 26px;
                    font: 17px/26px 'robotoBlack';
                    color: #024753;
                    border: 1px solid #024753;
                    padding-left: 1px;
                    border-radius: 50%;
                    -moz-border-radius: 50%;
                    -webkit-border-radius: 50%;
                    box-sizing: border-box;
                    margin-left: 8px;

                  }
                  .guarantee {
                    float: left;
                    font: 16px/27px 'Georgia-BoldItalic';
                    color: #662211;
                    span {
                      font-size: 13px;
                      margin-top: 4px;
                      display: inline-block;
                    }
                  }
                  .star_line {
                    a {
                      display: inline-block;
                      width: 17px;
                      height: 16px;
                      background-image: url("../img/sprite_section.png");
                      background-position: -17px -192px;
                    }
                    .action {
                      background-image: url("../img/sprite_section.png");
                      background-position: -51px -192px;
                    }
                  }
                  .comment {
                    float: left;
                    font: 11px/27px 'robotobold';
                    color: #003366;
                    span {
                      color: #2f2f2f;
                    }
                  }
                  .country {
                    float: left;
                    font: 14px/27px 'Roboto-Medium';
                    color: #131313;
                  }
                  .art {
                    float: left;
                    font: 14px/27px 'Roboto-Medium';
                    color: #919191;
                  }
                }
                &:nth-child(even) {
                  background-color: #f9f9f9;
                }
              }
            }
            &_footer {
              width: 100%;
              float: left;
              box-sizing: border-box;
              padding-left: 14px;
              padding-right: 15px;
              margin-top: 6px;
              margin-bottom: 9px;
              &_check_block {
                float: left;
                width: 53.81%;
                .check {
                  float: left;
                  width: 26px;
                  height: 26px;
                  display: block;
                  border: 1px solid #024753;
                  @include radius(4px);
                  text-align: center;
                  span {
                    display: inline-block;
                    width: 17px;
                    height: 16px;
                    margin-top: 4px;
                  }

                }
                .activ {
                  span {
                    background-image: url("../img/sprite_section.png");
                    background-position: -34px -192px;
                  }
                }
                .link {
                  float: left;
                  font: 14px/26px 'robotoregular';
                  color: #0151bd;
                  text-decoration: underline;
                  margin-left: 9px;
                }
              }
              &_look_block {
                float: left;
                width: 45.76%;
                a {
                  font: 11px/12px 'robotoregular';
                  color: #0151bd;
                  text-decoration: underline;
                  display: inline-block;
                  margin-top: 7px;
                }
                span {
                  display: inline-block;
                  width: 17px;
                  height: 16px;

                }

              }
              .look_activ {
                display: inline-block;
                background-image: url("../img/sprite_section.png");
                background-position: -34px -192px;
              }
            }
          }
        }
      }
    }
    &_price_wrap {
      float: left;
      width: 100%;
      margin-top: 29px;
      .aside {
        float: left;
        width: 20%;
        background: #FFFFFF;
        padding-left: 15px;
        box-sizing: border-box;
        @media(max-width: 1013px) {
          display: none;
        }
        &_zag {
          float: left;
          width: 100%;
          min-height: 48px;
          i {
            display: block;
            width: 10px;
            height: 25px;
            float: left;
            background-image: url("../img/sprite_section.png");
            background-position: -169px -104px;
            margin-left: 4px;
            margin-top: 10px;
            @media(max-width: 1083px) {
              margin-left: 0px;
            }
            @media(max-width: 1063px) {
              display: none;
            }
          }
          p {
            float: left;
            font: 12px/16px 'Georgia-Italic';
            color: #d80000;
            margin-top: 9px;
            margin-left: 11px;
            span {
              display: block;
            }
          }
        }
        &_action_block {
          width: 100%;
          float: left;
          box-sizing: border-box;
          padding-left: 15px;
          border: 1px solid #dfdfdf;
          &_zag {
            width: 100%;
            float: left;
            font: 16px/46px Verdana;
            font-weight: bold;
            text-transform: uppercase;
          }
          ul {
            width: 100%;
            float: left;
            margin-top: 5px;
            li {
              width: 100%;
              margin-bottom: 12px;
              a {
                font: 12px/15px Verdana;
                &:hover {
                  color: #074e23;
                }
                sup {
                  font-size: 8px;
                  vertical-align: super;
                }
                sub {
                  font-size: 8px;
                  vertical-align: sub;
                }
              }
            }
          }
        }
      }
      &_section_block {
        float: left;
        width: 80%;
        @media(max-width: 1013px) {
          width: 100%;
        }
        h2 {
          width: 100%;
          @media(max-width: 538px) {
            line-height: 20px;
            padding-top: 5px;
          }
        }
        &_block_line {
          width: 100%;
          @media(max-width: 758px) {
            text-align: center;
          }
          .block {
            float: left;
            position: relative;
            width: 25%;
            height: 233px;
            border: 1px solid #014366;
            box-sizing: border-box;

            box-sizing: border-box;
            .hover {
              width: 100%;
              height: 100%;
              border: 4px solid rgba(0, 0, 0, 0);
              position: absolute;
              top: 0px;
              left: 0px;
              box-sizing: border-box;
            }
            &:hover {

              z-index: 10;
              p {
                color: #01268f;
              }
              .hover {
                border: 4px solid #b92514;
              }

            }
            @media(max-width: 758px) {
              display: inline-block;
              float: none;
              width: 48%;
            }
            @media(max-width: 406px) {
              width: 100%;
            }
            .icon-line {
              width: 100%;
              height: 87px;
              text-align: center;
              margin-top: 41px;

              i {
                display: inline-block;
                height: 87px;
                width: 87px;

              }
            }
            p {
              position: absolute;
              width: 100%;
              padding: 0px 14px;
              box-sizing: border-box;
              font: 15px/18px Verdana;
              font-weight: bold;
              color: #FFFFFF;
              left: 0px;
              bottom: 15px;
              letter-spacing: -0.8px;
              i {
                font-family: 'Georgia-BoldItalic';
              }
            }

          }
          .empty {
            display: block;
            border: none;
            &:hover {
              outline: none;
            }
            @media(max-width: 758px) {
              display: none;
            }
          }
          .bg_1 {
            background-color: rgba(30, 86, 99, 0.81);

          }
          .bg_2 {
            background-color: rgba(240, 240, 255, 0.81);
            p {
              color: #203a33;
            }
            .power {
              border-color: #203a33;
              color: #203a33;

            }
          }
          .bg_3 {
            background-color: rgba(202, 231, 208, 0.81);
            P {
              color: #194727;
            }
            .power {
              border-color: #275836;
              color: #275836;

            }

          }
          .bg_4 {
            background-color: rgba(189, 232, 255, 0.64);
            p {
              color: #003653;
            }
            .power {
              border-color: #014366;
              color: #014366;

            }
          }
          .bg_5 {
            background-color: rgba(1, 67, 102, 0.64);
          }
          .bg_6 {
            background-color: #FFFFFF;
            width: 50%;
            @media(max-width: 758px) {
              width: 96.5%;
            }
            @media(max-width: 406px) {
              width: 100%;
            }
            p {
              color: #003653;
            }
          }
          .power_line {
            margin-top: 21px;
            width: 100%;
            text-align: center;
            i {
              display: inline-block;

            }
          }
          .icon1 {
            background-image: url("../img/sprite_icon1.png");
            background-position: 0px 0px;
          }
          .icon2 {
            background-image: url("../img/sprite_icon1.png");
            background-position: -87px 0px;
          }
          .icon3 {
            background-image: url("../img/sprite_icon1.png");
            background-position: 0px -87px;
          }
          .icon4 {
            background-image: url("../img/sprite_icon1.png");
            background-position: -87px -87px;
          }
          .icon5 {
            background-image: url("../img/sprite_icon1.png");
            background-position: -174px 0px;
          }
          .icon6 {
            background-image: url("../img/sprite_icon1.png");
            background-position: -174px -87px;
          }
          .icon7 {
            background-image: url("../img/sprite_icon1.png");
            background-position: 0px -174px;
          }
          .icon8 {
            background-image: url("../img/sprite_icon1.png");
            background-position: -87px -174px;
          }
          .icon9 {
            background-image: url("../img/sprite_icon1.png");
            background-position: -174px -174px;
          }

          .power {
            width: 88px;
            height: 88px;
            border: 5px solid;
            border-color: #FFFFFF;
            font: 54px/88px Verdana;
            font-weight: bold;
            color: #FFFFFF;
            @include radius(50%);
            display: inline-block;

          }

        }
      }
      &_hype {
        float: left;
        width: 100%;
        padding: 6px 0px;
        background-color: #FFFFFF;
        text-align: center;
        margin-top: 18px;
        margin-bottom: 20px;
        img {
          width: 557px;
          max-width: 100%;

        }
      }
    }
    &_rig {
      float: right;
      width: 100%;
      margin-top: 40px;
      h2{
        float: right;
        width: 80%;
      }
      h2 {
        @media(max-width: 502px) {
          line-height: 20px;
          padding-top: 4px;
        }
      }
      .bg_1 {
        background-color: #d7d7d7;
        p {
          color: #01268f;
        }
      }
      .bg_2 {
        background-color: #FFFFFF;
        p {
          color: #003653;
        }
      }
      .bg_3 {
        background-color: rgba(1, 67, 102, 0.91);
        p {
          color: #FFFFFF;
        }
      }
      .bg_4 {
        background-color: rgba(189, 232, 255, 0.64);
        p {
          color: #003653;
        }
      }
      .bg_5 {
        background-color: rgba(30, 86, 99, 0.81);
      }
      .bg_6 {
        background-color: rgba(202, 231, 208, 0.8);
        p {
          color: #194727;
        }
      }
      .bg_7 {
        background-color: rgba(240, 250, 255, 0.58);
        p {
          color: #003653;
        }
      }

      .block {
        width: 20%;
        @media(max-width: 758px) {
          width: 48%;
        }
        @media(max-width: 406px) {
          width: 100%;
        }

        p {
          text-transform: uppercase;
          span {
            color: #a20303;
            font-weight: bold;
            i {
              font-family: 'Georgia-BoldItalic';
              color: #670101;
              text-transform: none;
            }
          }
          strong {
            color: #080808;
            font-weight: bold;
            b {
              color: #e20505;
              font-weight: bold;
            }
          }
        }
        .icon1 {
          background-image: url("../img/sprite_icon2.png");
          background-position: -87px 0px;
        }
        .icon2 {
          background-image: url("../img/sprite_icon2.png");
          background-position: -261px 0px;
        }
        .icon3 {
          background-image: url("../img/sprite_icon2.png");
          background-position: -261px -87px;
        }
        .icon4 {
          background-image: url("../img/sprite_icon2.png");
          background-position: -261px -174px;
        }
        .icon5 {
          background-image: url("../img/sprite_icon2.png");
          background-position: 0px -261px;
        }
        .icon6 {
          background-image: url("../img/sprite_icon2.png");
          background-position: -87px -261px;
        }
        .icon7 {
          background-image: url("../img/sprite_icon2.png");
          background-position: -174px -261px;
        }
        .icon8 {
          background-image: url("../img/sprite_icon2.png");
          background-position: -261px -261px;
        }
        .icon9 {
          background-image: url("../img/sprite_icon2.png");
          background-position: -348px 0px;
        }
        .icon10 {
          background-image: url("../img/sprite_icon2.png");
          background-position: -174px -174px;
        }
        .icon11 {
          background-image: url("../img/sprite_icon2.png");
          background-position: 0px -87px;
        }
        .icon12 {
          background-image: url("../img/sprite_icon2.png");
          background-position: -87px -87px;
        }
        .icon13 {
          background-image: url("../img/sprite_icon2.png");
          background-position: -174px 0px;
        }
        .icon14 {
          background-image: url("../img/sprite_icon2.png");
          background-position: -174px -87px;
        }
        .icon15 {
          background-image: url("../img/sprite_icon2.png");
          background-position: 0px -174px;
        }
        .icon16 {
          background-image: url("../img/sprite_icon2.png");
          background-position: -87px -174px;
        }
        .icon17 {
          background-image: url("../img/sprite_icon2.png");
          background-position: 0px 0px;
        }
      }
      .big {
        width: 40%;
        @media(max-width: 758px) {
          width: 96.5%;
        }
        @media(max-width: 406px) {
          width: 100%;
        }
      }
      .line {
        width: 100%;
      }

    }
    &__manufactures {
      float: left;
      width: 100%;
      min-height: 2150px;
      background: url("../img/manufacture_fon.jpg") top center no-repeat;
      margin-top: -50px;
      &_zag_block {
        float: left;
        width: 100%;
        border: 1px solid #014366;
        box-sizing: border-box;
        margin-top: 137px;
        h2 {
          width: 100%;
          @media(max-width: 834px) {
            line-height: 20px;
            padding-top: 5px;
          }
        }
        h3 {
          float: left;
          width: 100%;
          font: 14px/20px Verdana;
          font-weight: bold;
          padding-left: 21px;
          box-sizing: border-box;
          color: #272727;
          background: #fafafa;
          padding-top: 10px;
          padding-bottom: 16px;
        }
      }
      &_attenton {
        float: left;
        width: 100%;
        p {
          float: left;
          width: 100%;
          font: 12px/20px Verdana;
          padding-left: 21px;
          padding-top: 12px;
          box-sizing: border-box;
          padding-bottom: 12px;

          span {
            display: inline-block;
            width: 96.54%;
            b {
              color: #f20000;
            }
          }
          i {
            display: inline-block;
            width: 21px;
            height: 21px;
            background-image: url("../img/sprite_section.png");
            background-position: -25px -170px;
            margin-right: 7px;
          }
        }
      }
      &__factory_block {
        float: left;
        width: 100%;
        border: 3px solid #014366;
        box-sizing: border-box;
        margin-bottom: 23px;
        &_zag {
          float: left;
          width: 100%;
          padding-left: 21px;
          box-sizing: border-box;
          background: #fafafa;
          border-bottom: 1px solid #014366;
          min-height: 61px;
          &_star_block {
            float: left;
            width: 9.74%;
            @media(max-width: 1026px) {
              width: 100%;
              text-align: center;
            }
            .star_line {
              width: 100%;
              height: 17px;
              margin-top: 22px;
              a {
                display: inline-block;
                width: 16px;
                height: 17px;
                background-image: url('../img/sprite_section.png');
                background-position: -68px -192px;
              }
              .activ {
                background-image: url('../img/sprite_section.png');
                background-position: -51px -192px;
              }
            }
          }
          &_text_block {
            width: 90.25%;
            float: left;
            @media(max-width: 1026px) {
              width: 100%;
              text-align: center;
              padding-bottom: 15px;
            }
            h3 {
              width: 100%;
              font: 14px/20px Verdana;
              font-weight: bold;
              margin-top: 12px;

            }
            p {
              width: 100%;
              font: 12px/20px Verdana;
              font-style: italic;
              color: #7b7b7b;
            }
          }
        }
        &__brend {
          float: left;
          width: 100%;
          padding-left: 21px;
          padding-right: 21px;
          background: #ebf0f7;
          margin-top: 12px;
          box-sizing: border-box;
          @media(max-width: 1062px) {
            padding: 0px 15px;
          }
          &_text {
            float: left;
            width: 42.1%;
            @media(max-width: 1062px) {
              width: 100%;
            }
            h3 {
              width: 100%;
              font: 20px/20px 'Georgia-Bold';
              color: #82000c;
              margin-top: 20px;
              margin-bottom: 10px;
              span {
                font: 14px/20px Verdana;
                color: #747474;
              }
            }
            .description {
              width: 100%;
              font: 12px/18px Verdana;
              color: #212121;
              .read_m {
                display: inline-block;
                width: 100%;
                text-align: right;
                font-size: 10px;
                color: #82000c;
                &:hover {
                  color: #25613c;
                }

              }
            }
            .adres {
              width: 100%;
              margin-bottom: 15px;
              i {
                display: inline-block;
                width: 17px;
                height: 18px;
                background-image: url("../img/sprite_section.png");
                background-position: 0px -192px;
                float: left;
                margin-right: 1%;
              }
              p {
                display: inline-block;
                float: left;
                width: 94.52%;
                font: 14px/18px Verdana;
                letter-spacing: 0.2px;
                span {
                  font: 11px/18px Verdana;
                  font-style: italic;
                  color: #808080;
                }
              }
            }
          }

          &_link {
            float: left;
            width: 57.9%;
            padding-top: 11px;
            @media(max-width: 1062px) {
              width: 100%;
              text-align: center;
            }
            .no_link {
              width: 16%;
              margin-right: 0px;
              text-align: right;
              @media(max-width: 480px){
                width: 33.33%;
              }
              li {
                margin-bottom: 4px;
              }
            }
            .right {
              float: right;
            }
            ul {
              float: left;
              width: 23.8%;
              margin-right: 8px;
              @media(max-width: 480px){
                width: 45%;
                min-height: 146px;
              }
              li {
                width: 100%;
                margin-bottom: 9px;
                overflow: hidden;
                span {
                  display: inline-block;
                  font-size: 9px;
                  line-height: 11px;
                  width: 100%;
                }
                .big {
                  line-height: 20px;
                }
              }
              a {
                display: block;
                width: 100%;
                min-height: 38px;
                padding-left: 10px;
                font: 14px/38px Verdana;
                font-weight: bold;
                text-decoration: underline;
                border: 1px solid #dbdbdb;
                background: #f5f8fb;
                color: #193333;
                margin-right: 8px;
                float: left;
                box-sizing: border-box;
                &:hover {
                  color: #25613c;
                  border-color: #25613c;
                }
              }
              p {
                width: 100%;
                font: 14px/16px Verdana;
                font-weight: normal;
                font-weight: bold;
              }
            }
            &_line {
              width: 100%;
              margin-bottom: 9px;
              float: left;
              .big {
                line-height: 20px;
              }
              a {
                display: block;
                width: 23.9%;
                min-height: 38px;
                padding-left: 10px;
                font: 14px/38px Verdana;
                font-weight: bold;
                text-decoration: underline;
                border: 1px solid #dbdbdb;
                background: #f5f8fb;
                color: #193333;
                margin-right: 8px;
                float: left;
                box-sizing: border-box;
                &:hover {
                  color: #25613c;
                  border-color: #25613c;
                }
                @media(max-width: 1062px) {
                  display: inline-block;
                  float: none;
                  text-align: left;
                }
                @media(max-width: 773px) {
                  width: 48%;
                  margin-bottom: 10px;
                  padding-left: 10px;
                }
                @media(max-width: 330px) {
                  width: 100%;
                }
                span {
                  display: inline-block;
                  font-size: 9px;
                  line-height: 11px;
                  @media(max-width: 1062px) {
                    width: 100%;
                  }
                }
                &:nth-last-child(1) {
                  margin-right: 0px;
                  @media(max-width: 1062px) {
                    margin-right: 8px;
                  }
                }
              }
              .link {
                font-size: 12px;
              }
            }

          }
          &_big_text {
            width: 70%;
            @media(max-width: 1062px) {
              width: 50%;
            }
            @media(max-width: 795px) {
              width: 100%;
              text-align: center;
            }
          }
          &_smal_line {
            width: 28.95%;
            ul {
              width: 47.9%;
              &:nth-last-child(1) {
                margin-right: 0px;
              }
            }
            .no_link {
              width: 30%;
            }

            float: right;
            @media(max-width: 1062px) {
              width: 50%;
            }
            @media(max-width: 795px) {
              width: 100%;
              text-align: center;
            }
            a {
              width: 48%;
              @media(max-width: 795px) {
                width: 40%;
                display: inline-block;
                float: none;
              }
              @media(max-width: 795px) {
                width: 80%;
                display: inline-block;
                float: none;
              }
            }
          }
        }
      }
    }
  }
  &_buy {
    width: 100%;
    float: left;
    &_block {
      width: 100%;
      background: url("../img/buy.jpg") center top no-repeat;
      min-height: 515px;
      -webkit-box-shadow: 0px 10px 27px 0px rgba(0, 0, 0, 0.13);
      -moz-box-shadow: 0px 10px 27px 0px rgba(0, 0, 0, 0.13);
      box-shadow: 0px 10px 27px 0px rgba(0, 0, 0, 0.13);
      margin-top: 43px;
      background-size: cover;
      overflow: hidden;
      h2 {
        width: 100%;
        margin-bottom: 41px;
        @media(max-width: 722px){
          line-height: 20px;
          padding-top: 5px;
        }
        span {
          color: #fe2020;
        }
      }
      &_line {
        float: left;
        width: 100%;
        min-height: 369px;
        .block_wrap {
          float: left;
          width: 22.63%;
          margin-right: 2.69%;
          text-align: center;
          @media(max-width: 1126px) {
            width: 50%;
            margin-right: 0px;
            margin-bottom: 20px;
          }
          @media(max-width: 538px) {
            width: 100%;

          }
          &:nth-last-child(1) {
            margin-right: 0px;
          }
        }
        &_block {
          display: inline-block;
          width: 100%;
          max-width: 263px;

          .img {
            width: 100%;
            position: relative;
            min-height: 282px;
            img {
              margin-top: 23px;
              max-width: 100%;
              position: absolute;
              top: 0px;
              left: 0px;
            }
            &_icon_line {
              min-height: 119px;
              width: 100%;
              text-align: center;
              position: relative;
              z-index: 9;
              p {
                display: inline-block;
                width: 119px;
                height: 119px;
                background-image: url("../img/buy_icon.png");
                text-align: center;
                span {
                  display: inline-block;
                }
                .icon1 {
                  width: 58px;
                  height: 62px;
                  background-image: url("../img/sprite_section.png");
                  background-position: -183px 0px;
                  margin-top: 28.5px;
                }
                .icon2 {
                  width: 60px;
                  height: 60px;
                  background-image: url("../img/sprite_section.png");
                  background-position: -56px -104px;
                  margin-top: 29.5px;
                }
                .icon3 {
                  width: 58px;
                  height: 61px;
                  background-image: url("../img/sprite_section.png");
                  background-position: -183px -62px;
                  margin-top: 29px;
                }
                .icon4 {
                  width: 53px;
                  height: 43px;
                  background-image: url("../img/sprite_section.png");
                  background-position: -183px -123px;
                  margin-top: 38px;
                }
              }
            }
            h3 {
              width: 100%;
              font: 18px/22px Verdana;
              font-weight: bold;
              color: #FFFFFF;
              text-align: center;
              position: relative;
              z-index: 9;
              text-transform: uppercase;
              margin-top: 25px;
              text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.25);
            }
            .big {
              margin-top: 18px;
            }
          }
          &_text_line {
            width: 100%;
            height: 85px;
            text-align: center;
            .text {
              display: inline-block;
              width: 100%;
              max-width: 235px;
              height: 85px;
              background: url("../img/buy_text.png") center top no-repeat;
              p {
                width: 100%;
                font: 13px/22px Verdana;
                font-weight: bold;
                color: #202020;
                text-align: center;
                margin-top: 29px;
              }
            }
          }
        }
      }
    }
  }
  &_seo_wrap {
    float: left;
    width: 100%;
    min-height: 500px;
    font-family: 'RobotoSlab-Light';
    .definition {
      font-size: 19px;
      line-height: 24px;
      color: #2b2b2b;
      margin-top: 40px;
      letter-spacing: 0.7px;
      margin-bottom: 57px;
      span {
        font: 34px/20px 'Cassandra';
        color: #fd0000;
      }
    }
    &_text_block {
      width: 100%;
      h3 {
        width: 100%;;
        min-height: 47px;
        font: 18px/47px Verdana;
        font-weight: bold;
        border: 1px solid #014366;
        background: #fafafa;
        text-align: center;
        margin-bottom: 23px;
        clear: both;
      }
      &_text {
        float: left;
        .seo {
          font-size: 19px;
          line-height: 27px;
          letter-spacing: 0.7px;
          margin-bottom: 20px;
          @media(max-width: 732px) {
            width: 100%;
            float: left;
          }
        }

      }
      &_baner {
        float: left;
        width: 400px;
        height: 408px;
        background: url("../img/seo_baner.jpg") center no-repeat;
        margin-right: 26px;
        text-align: center;
        @media(max-width: 732px) {
          width: 100%;
          background-size: cover;
          margin-bottom: 20px;
        }
        &_text {
          width: 86%;
          text-align: center;
          font: 40px/46px 'Cassandra';
          color: #bc0001;
          display: inline-block;
          text-align: left;
          margin-top: 68px;
          @media(max-width: 410px) {
            width: 90%;
          }
          @media(max-width: 390px) {
            width: 100%;
          }
          @media(max-width: 340px) {
            margin-top: 20px;
            font-size: 35px;
          }
          span {
            color: #0b0b0b;
          }
        }
      }

    }

  }
  &__recommended {
    float: left;
    width: 100%;
    &_header {
      float: left;
      width: 100%;
      min-height: 107px;
      &_zag {
        float: left;
        width: 50%;
        h4 {
          font: 20px/26px 'robotobold';
          margin-top: 32px;
          span {
            font-size: 14px;
            color: #8e8e8e;
            margin-left: 7px;
          }
          i {
            display: inline-block;
            width: 26px;
            height: 26px;
            background-image: url("../img/sprite_section.png");
            background-position: -109px -70px;
            margin-right: 13px;
          }
        }
        .mail {
          font: 13px/20px 'robotobold';
          color: #024753;
          margin-left: 42px;
          &:hover {
            color: #25613c;
            span {
              background: none;
            }
          }
          span {
            background: url("../img/dotted.png") left bottom repeat-x;
          }
        }
      }
      &_info {
        float: right;
        width: 50%;
        a {
          float: right;
          font: 13px/22px 'robotobold';
          color: #0151bd;
          text-decoration: underline;
          margin-right: 30px;
          margin-top: 35px;
          &:hover {
            color: #25613c;
          }
          &:nth-child(1) {
            margin-right: 0px;
          }
          .see {
            width: 29px;
            height: 22px;
            background-image: url("../img/sprite_section.png");
            background-position: -135px -70px;
            margin-right: 11px;
            display: inline-block;
          }
          .simile {
            width: 25px;
            height: 22px;
            background-image: url("../img/sprite_section.png");
            background-position: 0px -170px;
            margin-right: 9px;
            display: inline-block;
          }
          span {
            color: #b12b16;
            display: inline-block;
          }
        }
      }
    }
    &_product_box {
      float: left;
      width: 100%;
      min-height: 387px;
      background: url("../img/product_line.jpg") center top no-repeat;
      background-size: cover;
      .product_line {
        width: 100%;
        min-height: 335px;
        margin-top: 26px;
        .product_block {
          float: left;
          margin-right: 5%;
          @media(max-width: 1166px) {
            width: 50%;
            margin-right: 0px;
            text-align: center;
            margin-bottom: 20px;
          }
          @media(max-width: 508px) {
            width: 100%;

          }
          &:nth-last-child(1) {
            margin-right: 0px;
          }
        }
      }
    }
  }
}