/*******************************************************Сброс стилей***************************************************/
@import "reset.scss";
/*************************************************Модальные окна*******************************************************/
/****************************************************header********************************************************/
@import "header";
/***********************************************************************************************************************/
@import "modal";
/**********************************************************************************************************************/
/**************************************************Калькулятор мощности************************************************/
@import "power_calculator.scss";
/********************************************************Заводы*********************************************************/
@import "monufactur.scss";
/***********************************************************************************************************************/
/******************************************************Карточка товара**************************************************/
@import "product_block.scss";
/***********************************************************************************************************************/
/******************************************************SERCH************************************************************/
@import "serch.scss";
/***********************************************************************************************************************/
/****************************************************Schem modal********************************************************/
@import "schem.scss";
/***********************************************************************************************************************/
/****************************************************SECTION_price******************************************************/
@import "price";
/***********************************************************************************************************************/
/****************************************************FOOTER*************************************************************/
@import "footer";
/***********************************************************************************************************************/
/****************************************************MINI_FOOTER********************************************************/
@import "mini_footer";
/***********************************************************************************************************************/

html, body {
  height: 100%;
}

.wraper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  .slick-arrow {
    position: absolute;
    top: 50%;
    margin-top: -19.5px;
    width: 39px;
    height: 39px;
    font-size: 0;
    line-height: 0;
    border: 0px;
    background-color: #FFFFFF;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 9;
    cursor: pointer;
  }
  .slick-next {
    right: -19.5px;
    background-image: url("../img/sprite_header.png");
    background-position: -110px -64px;
    &:hover{
      background-position: 0px -202px;
    }
  }
  .slick-prev {
    left: -19.5px;
    background-image: url("../img/sprite_header.png");
    background-position: -149px -64px;
    &:hover{
      background-position: -39px -202px;
    }
  }
}

.content {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
  @media(max-width: 1170px) {
    padding: 0px 7px;
    box-sizing: border-box;
  }
}



header {
  @include transit(2s)
}
.section{
  &_crumbs {
    float: left;
    width: 100%;
    min-height: 53px;
    background: #f6f6f6;
    background: -moz-linear-gradient(top,  #f6f6f6 0%, #f6f6f6 65%, #ffffff 100%);
    background: -webkit-linear-gradient(top,  #f6f6f6 0%,#f6f6f6 65%,#ffffff 100%);
    background: linear-gradient(to bottom,  #f6f6f6 0%,#f6f6f6 65%,#ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0 );


    @media(max-width: 700px) {
      display: none;
    }
    ul {
      float: left;
      padding-left: 2.21%;
      width: 76.5%;
      box-sizing: border-box;
      @media(max-width: 1099px) {
        width: 100%;
        text-align: center;
      }
      .select {
        display: block;
        padding-right: 10px;
        position: relative;
        height: 53px;
        &:hover>.select_pod_menu{
          display: block;
        }
        &_pod_menu{
          width: 100%;
          background: #f6f6f6;
          position: absolute;
          z-index: 999;
          margin-top: 2px;
          display: none;
          li{
            display: block;
            float: none;
            height: auto;
            min-height: 0px;
            padding-right: 15px;
            text-align: right;
            box-sizing: border-box;
            a{
              margin-top: 0px;
              &:hover{
                color: #b80000;
                outline: none;
              }
            }
          }

        }
        &:after {
          content: '';
          display: block;
          position: absolute;
          top: 24.5px;
          right: 0px;
          width: 8px;
          height: 6px;
          background-image: url("../img/sprite_header.png");
          background-position: -354px -70px;
        }

      }
      li {
        float: left;
        position: relative;
        min-height: 53px;
        letter-spacing: -0.2px;
        font: 12px/24px Verdana;

      }
      @media(max-width: 1099px) {
        display: inline-block;
        float: none;
      }
      a{
        display: block;
        font: 12px/24px Verdana;
        font-style: italic;
        color: #5d7489;
        text-decoration: underline;
        color: #5d7489;
        padding-right: 5px;
        padding-left: 7px;
        position: relative;
        box-sizing: border-box;
        margin-top: 14.5px;
        box-sizing: border-box;
        &:hover{
          color: #b80000;
          outline: 1px solid #b80000;


        }


      }
      p {
        color: #3b3b3b;
        text-decoration: underline;
        font-size: 11px;
        font-style: italic;
        display: block;
        margin-top: 14.5px;
      }
      .arow {
        margin: 0px 1.67%;
        margin-left: 1%;
        span {
          display: block;
          width: 6px;
          height: 8px;
          margin-top: 24px;
          background-image: url("../img/sprite_section.png");
          background-position: -84px -170px;
        }
      }
    }
    &_rez {
      float: left;
      width: 19.57%;
      @media(max-width: 1099px) {
        display: none;

        i {
          display: none;
        }
      }

      span {
        float: left;
        font: 11px/58px Verdana;
        font-weight: bold;
        color: #990301;
        margin-right: 7px;
        width: 13px;
        height: 8px;
        background-image: url("../img/sprite_section.png");
        background-position: -109px -96px;
        margin-top: 23px;
        @media(max-width: 1099px) {
          display: inline-block;
          float: none;
        }
      }
      a {
        float: left;
        font: 11px/53px Verdana;
        font-weight: bold;
        text-decoration: underline;
        color: #5d7489;
        text-transform: uppercase;
        &:hover{
          color: #003b98;
        }
        @media(max-width: 1099px) {
          display: inline-block;
          float: none;
        }
      }
      i {
        float: right;
        width: 2px;
        height: 13px;
        background-image: url("../img/sprite_section.png");
        background-position: -236px -123px;
        margin-top: 20px;
      }
    }
  }
}







